<!--<p><?php //echo CMA_Labels::getLocalized('no_permissions'); ?></p>-->
<!--<p><a href="javascript:history.back(-1)"><?php //echo CMA_Labels::getLocalized('back_to_previous_page'); ?></a></p>-->
<div class="row row-block">
<div class="container">
        <div class="row text-center">
           <div class="col-md-6 column-centered">
<?php
if (!is_user_logged_in() AND CMA_Settings::getOption(CMA_Settings::OPTION_SHOW_LOGIN_WIDGET)) {
	$widget = true;
	//include(CMA_PATH. '/views/frontend/answer/widget/login.phtml');
	//include(TEMPLATEPATH.'/CMA/answer/widget/login.phtml');?>
        <?php echo do_shortcode('[wppb-login lostpassword_url="'.get_permalink( 920).'"]');?>       
<?php }

?>
			</div>
		</div>
	</div>
</div>