<?php

$attachmentMaxFileSize = CMA_Settings::getOption(CMA_Settings::OPTION_ATTACHMENTS_MAX_SIZE);
if ($maxUploadSize = ini_get('upload_max_filesize')) {
	$maxFileSize = min(CMA_Thread::units2bytes($maxUploadSize), $attachmentMaxFileSize);
} else {
	$maxFileSize = $attachmentMaxFileSize;
}
$attachmentLabel = CMA::__('Attachment') . ' (' . CMA::__('optional') . ') - '
		. implode(', ', CMA_Settings::getOption(CMA_Settings::OPTION_ATTACHMENTS_FILE_EXTENSIONS)) . ' (max. ' . number_format($maxFileSize/1024/1024, 1) . ' MB)';

?>
<div class="cma-file-upload">
	<div class="cma-form-options">
		<label class="cma-form-option-label"><?php echo $attachmentLabel; ?></label>
	</div>
	<div class="cma-form-input">
		<input type="file" name="attachment[]" multiple="multiple" /> <?php echo CMA::__('or drag and drop here'); ?>
		<input type="hidden" name="MAX_FILE_SIZE" value="<?php echo esc_attr(CMA_Thread::units2bytes($maxFileSize)); ?>" />
		<ul class="cma-file-upload-list"></ul>
	</div>
</div>