/*
Theme Name: Twenty Thirteen
Theme URI: https://wordpress.org/themes/twentythirteen/
Author: the WordPress team
Author URI: https://wordpress.org/
Description: The 2013 theme for WordPress takes us back to the blog, featuring a full range of post formats, each displayed beautifully in their own unique way. Design details abound, starting with a vibrant color scheme and matching header images, beautiful typography and icons, and a flexible layout that looks great on any device, big or small.
Version: 1.5
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, fluid-layout, responsive-layout, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready, accessibility-ready
Text Domain: twentythirteen

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/


/**
 * Table of Contents:
 *
 * 1.0 - Reset
 * 2.0 - Repeatable Patterns
 * 3.0 - Basic Structure
 * 4.0 - Header
 *   4.1 - Site Header
 *   4.2 - Navigation
 * 5.0 - Content
 *   5.1 - Entry Header
 *   5.2 - Entry Meta
 *   5.3 - Entry Content
 *   5.4 - Galleries
 *   5.5 - Post Formats
 *   5.6 - Attachments
 *   5.7 - Post/Paging Navigation
 *   5.8 - Author Bio
 *   5.9 - Archives
 *   5.10 - Search Results/No posts
 *   5.11 - 404
 *   5.12 - Comments
 *   5.13 - Multisite
 * 6.0 - Sidebar
 *   6.1 - Widgets
 * 7.0 - Footer
 * 8.0 - Media Queries
 * 9.0 - Print
 * ----------------------------------------------------------------------------
 */


/**
 * 1.0 Reset
 *
 * Modified from Normalize.css to provide cross-browser consistency and a smart
 * default styling of HTML elements.
 *
 * @see http://git.io/normalize
 * ----------------------------------------------------------------------------
 */
/********************** WEBSITE FONTS **********************************/

@font-face {
	font-family: "icomoon";
	src: url("fonts/icomoon.eot?nl66h6");
	src: url("fonts/icomoon.eot?#iefixnl66h6") format("embedded-opentype"), url("fonts/icomoon.woff?nl66h6") format("woff"), url("fonts/icomoon.ttf?nl66h6") format("truetype"), url("fonts/icomoon.svg?nl66h6#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {font-family: 'Proxima-Nova-Regular';src: url('../fonts/Proxima-Nova-Regular.eot');src: url('../fonts/Proxima-Nova-Regular.eot?#iefix') format('embedded-opentype'),url('../fonts/Proxima-Nova-Regular.woff2') format('woff2'),url('../fonts/Proxima-Nova-Regular.woff') format('woff'),url('../fonts/Proxima-Nova-Regular.ttf') format('truetype');}

/***********************************************************************/

[class^="icon-"],
[class*=" icon-"] {
	font-family: "icomoon";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1; /* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-instagram-with-circle:before {
	content: "\e607";
}

.icon-youtube-with-circle:before {
	content: "\e606";
}

.icon-checkmark:before {
	content: "\e605";
}

.icon-mail:before {
	content: "\e604";
}

.icon-magnifying-glass:before {
	content: "\e603";
}

.icon-google-plus:before {
	content: "\e602";
}

.icon-twitter:before {
	content: "\e601";
}

.icon-facebook:before {
	content: "\e600";
}

.icon-chevron-left:before {
	content: "\f053";
}

.icon-calendar:before {
	content: "\f073";
}

.icon-chevron-up:before {
	content: "\f077";
}

.icon-chevron-down:before {
	content: "\f078";
}

.icon-mobile:before {
	content: "\f10b";
}

.icon-chevron-right:before {
	content: "\f054";
}

.icon-paper-plane:before {
	content: "\f1d8";
}


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden] {
	display: none;
}

html {
	/*font-size: 100%;*/
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
	/*font-family: "Source Sans Pro", Helvetica, sans-serif;*/
}

body {
	color: #95a5b2;
	line-height: 24px;
	margin: 0;
	font-size:18px;
	/*font-family: 'Oxygen', sans-serif;
	font-family: 'Roboto', sans-serif;*/
	
	font-family: 'Ek Mukta', sans-serif;
	-moz-osx-font-smoothing: grayscale;
}
.tweet_data{
	font-family: 'Ek Mukta', sans-serif !important;
	font-size:18px !important;
}
a {
	color: #ca3c08;
	text-decoration: none;
}

a:visited {
	color: #ac0404;
}

a:focus {
	outline: thin dotted;
}
button:visited, button:focus{
	color:#fff;
}
a:active,
a:hover {
	color: #ea9629;
	outline: 0;
	transition: all 0.5s ease-in-out 0s;
}

a:hover {
	text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	/*font-family: Bitter, Georgia, serif;
	font-weight:inherit;*/
	font-weight: 500;
	line-height: 1.3;
	
}

h1 {
	font-size: 42px;
	margin: 33px 0;
	color:#a9cb1f;
}

h2 {
	font-size: 30px;
	margin: 25px 0;
	line-height:30px;
	color:#2c3a69;
}

h3 {
	font-size: 24px;
	margin: 22px 0;
	line-height:24px;
}

h4 {
	font-size: 20px;
	margin: 25px 0;
	color:#2c3a69;
}

h5 {
	font-size: 18px;
	margin: 30px 0;
	color:#2c3a69;
}

h6 {
	font-size: 16px;
	margin: 36px 0;
}
.clearfix{
	clear:both;
}
.big-title{
	font-size:120px;
	line-height:100px;
	color:#fff;
	text-transform:uppercase;
	position:absolute;
	top:40%;
}
.client-name{
	margin-left:50%;
	margin-top:-5%;
}
/*.big-title{
	font-size:120px;
	line-height:100px;
	height:300px;
	color:#fff;
	text-transform:uppercase;
	position:absolute;
	border:solid 1px red;
	top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}*/
address {
	font-style: italic;
	margin: 0 0 24px;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

mark {
	background: #ff0;
	color: #000;
}

p {
	margin: 0 0 24px;
}

code,
kbd,
pre,
samp {
	font-family: monospace, serif;
	font-size: 14px;
	-webkit-hyphens: none;
	-moz-hyphens:    none;
	-ms-hyphens:     none;
	hyphens:         none;
}

pre {
	background: #f5f5f5;
	color: #666;
	font-family: monospace;
	font-size: 14px;
	margin: 20px 0;
	overflow: auto;
	padding: 20px;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

blockquote,
q {
	-webkit-hyphens: none;
	-moz-hyphens:    none;
	-ms-hyphens:     none;
	hyphens:         none;
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

blockquote {
	font-size: 18px;
	font-style: italic;
	font-weight: 300;
	margin: 24px 40px;
}

blockquote blockquote {
	margin-right: 0;
}

blockquote cite,
blockquote small {
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
}

blockquote em,
blockquote i {
	font-style: normal;
	font-weight: 300;
}

blockquote strong,
blockquote b {
	font-weight: 400;
}

small {
	font-size: smaller;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

dl {
	margin: 0 20px;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 0 20px;
}

menu,
ol,
ul {
	margin: 16px 0;
	padding: 0 0 0 0px;
}

ul {
	list-style-type: square;
}
#main ul li:before{
	position:absolute;
	content:'';
	width:11px;
	height:11px;
	background-image:url(images/bullet.png);
	margin:6px 0px 0px -22px;
}
#main ul li{
	margin-bottom:15px;
	padding-left:20px;
}
.row-block ul li a{
	color:#acca51;
}
.row-block ul li span.green-link {
    display:inline;
    font-size:inherit;
    line-height:inherit;
    padding:0;
    text-align: left;
    color:#acca51;
}
nav ul,
nav ol {
	list-style: none;
	list-style-image: none;
}

li > ul,
li > ol {
	margin: 0;
}

img {
	-ms-interpolation-mode: bicubic;
	border: 0;
	vertical-align: middle;
	max-width:100%;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

form {
	margin: 0;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
	white-space: normal;
}

button,
input,
select,
textarea {
	font-size: 100%;
	margin: 0;
	max-width: 100%;
	vertical-align: baseline;
}

button,
input {
	line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
input[disabled] {
	cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0;
}

input[type="search"] {
	-webkit-appearance: textfield;
	padding-right: 2px; /* Don't cut off the webkit search cancel button */
	width: 270px;
}

input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

table {
	border-bottom: 1px solid #ededed;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 14px;
	line-height: 2;
	margin: 0 0 20px;
	width: 100%;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

caption {
	font-size: 16px;
	margin: 20px 0;
}

th {
	font-weight: bold;
	text-transform: uppercase;
}

td {
	border-top: 1px solid #ededed;
	padding: 6px 10px 6px 0;
}

del {
	color: #333;
}

ins {
	background: #fff9c0;
	text-decoration: none;
}

hr {
	background: url(images/dotted-line.png) repeat center top;
	background-size: 4px 4px;
	border: 0;
	height: 1px;
	margin: 0 0 24px;
}


/**
 * 2.0 Repeatable Patterns
 * ----------------------------------------------------------------------------
 */

.genericon:before,
.menu-toggle:after,
.featured-post:before,
.date a:before,
.entry-meta .author a:before,
.format-audio .entry-content:before,
.comments-link a:before,
.tags-links a:first-child:before,
.categories-links a:first-child:before,
.edit-link a:before,
.attachment .entry-title:before,
.attachment-meta:before,
.attachment-meta a:before,
.comment-awaiting-moderation:before,
.comment-reply-link:before,
.comment-reply-login:before,
.comment-reply-title small a:before,
.bypostauthor > .comment-body .fn:before,
.error404 .page-title:before {
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font: normal 16px/1 Genericons;
	vertical-align: text-bottom;
}

/* Clearing floats */
.clear:after,
.attachment .entry-header:after,
.site-footer .widget-area:after,
.entry-content:after,
.page-content:after,
.navigation:after,
.nav-links:after,
.gallery:after,
.comment-form-author:after,
.comment-form-email:after,
.comment-form-url:after,
.comment-body:after {
	clear: both;
}

.clear:before,
.clear:after,
.attachment .entry-header:before,
.attachment .entry-header:after,
.site-footer .widget-area:before,
.site-footer .widget-area:after,
.entry-content:before,
.entry-content:after,
.page-content:before,
.page-content:after,
.navigation:before,
.navigation:after,
.nav-links:before,
.nav-links:after,
.gallery:before,
.gallery:after,
.comment-form-author:before,
.comment-form-author:after,
.comment-form-email:before,
.comment-form-email:after,
.comment-form-url:before,
.comment-form-url:after,
.comment-body:before,
.comment-body:after {
	content: "";
	display: table;
}

/* Assistive text */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	position: absolute !important;
	height: 1px;
	width: 1px;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	line-height: normal;
	padding: 15px 23px 14px;
	position: absolute;
	left: 5px;
	top: 5px;
	text-decoration: none;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* Form fields, general styles first. */
button,
input,
textarea {
	border: 1px solid #cccccc;
	font-family: inherit;
	padding: 5px;
}

input,
textarea {
	color: #141412;
}

input:focus,
textarea:focus {
	border: 1px solid #cccccc;
	outline: 0;
}

/* Buttons */
a.button:visited{
    color:#fff;
}
.row-block .button,
.button,
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
	background-color:#fc5721;
	padding: 10px 24px;
	border: 0px;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	font-size:16px;
	text-decoration:none;
	text-transform:none;
        line-height: normal;
}


.row-block .button:hover,
.row-block .button:focus,
.button:hover,
.button:hover:focus,
button:hover,
button:focus,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="button"]:focus,
input[type="reset"]:focus {
	background: #c73c0f;
	outline: none;
	text-decoration:none;
	color:#fff;
}
.row-block .button:active,
.button:active,
button:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active {
    color:#fff;
	/*background: #d94412;
	background: -webkit-linear-gradient(top, #d94412 0%, #e05d22 100%);
	background:   linear-gradient(to bottom, #d94412 0%, #e05d22 100%);
	border: none;
	padding: 10px 24px 11px;*/
}

.post-password-required input[type="submit"] {
	padding: 7px 24px 4px;
	vertical-align: bottom;
}

.post-password-required input[type="submit"]:active {
	padding: 5px 24px 6px;
}

/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
	color: #7d7b6d;
}

:-moz-placeholder {
	color: #7d7b6d;
}

::-moz-placeholder {
	color: #7d7b6d;
}

:-ms-input-placeholder {
	color: #7d7b6d;
}

/*
 * Responsive images
 *
 * Fluid images for posts, comments, and widgets
 */
.entry-content img,
.entry-summary img,
.comment-content img,
.widget img,
.wp-caption {
	max-width: 100%;
}

/* Make sure images with WordPress-added height and width attributes are scaled correctly. */
.entry-content img,
.entry-summary img,
.comment-content img[height],
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto;
}

img.size-full,
img.size-large,
img.wp-post-image {
	height: auto;
	max-width: 100%;
	/*width:100%; */
}

/* Make sure videos and embeds fit their containers. */
embed,
iframe,
object,
video {
	max-width: 100%;
}

/* Override the Twitter embed fixed width. */
.entry-content .twitter-tweet-rendered {
	max-width: 100% !important;
}

/* Images */
.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

figure.wp-caption.alignleft,
img.alignleft {
	margin: 5px 20px 5px 0;
}

.wp-caption.alignleft {
	margin: 5px 10px 5px 0;
}

figure.wp-caption.alignright,
img.alignright {
	margin: 5px 0 5px 20px;
}

.wp-caption.alignright {
	margin: 5px 0 5px 10px;
}

img.aligncenter {
	margin: 5px auto;
}

img.alignnone {
	margin: 5px 0;
}

.wp-caption .wp-caption-text,
.entry-caption,
.gallery-caption {
	color: #220e10;
	font-size: 18px;
	font-style: italic;
	font-weight: 300;
	margin: 0 0 24px;
}

div.wp-caption.alignright img[class*="wp-image-"] {
	float: right;
}

div.wp-caption.alignright .wp-caption-text {
	padding-left: 10px;
}

img.wp-smiley,
.rsswidget img {
	border: 0;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

.wp-caption.alignleft + ul,
.wp-caption.alignleft + ol {
	list-style-position: inside;
}

#primary #contactsubmit{
	background-color:#fc5721;
	padding: 14px 24px 14px;
	border: 0px;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	font-size:14px;
	max-width:100%;
	height:auto;
}


/**
 * 3.0 Basic Structure
 * ----------------------------------------------------------------------------
 */

.site {
	background-color: #fff;
	/*border-left: 1px solid #f2f2f2;
	border-right: 1px solid #f2f2f2;*/
	margin: 0 auto;
	max-width: 1920px;
	width: 100%;
}

/*.site-main {
	position: relative;
}*/

.site-main .sidebar-container {
	height: 0;
	position: absolute;
	top: 40px;
	width: 100%;
	z-index: 1;
}

.site-main .sidebar-inner {
	margin: 0 auto;
	max-width: 1040px;
}


/**
 * 4.0 Header
 * ----------------------------------------------------------------------------
 */

/**
 * 4.1 Site Header
 * ----------------------------------------------------------------------------
 */

.site-banner {
	position: relative;
	/*float:left;*/
	width:100%;
	/*background-image:url(images/home-slider.jpg) !important;
	background-repeat:no-repeat;*/
	
}

.site-banner .home-link {
	color: #141412;
	display: block;
	margin: 0 auto;
	max-width: 1080px;
	min-height: 640px;
	padding: 0 20px;
	text-decoration: none;
	width: 100%;
}

.site-banner .site-title:hover {
	text-decoration: underline;
}

.site-title {
	font-size: 60px;
	font-weight: bold;
	line-height: 1;
	margin: 0;
	padding: 58px 0 10px;
}

.site-description {
	font: 300 italic 24px "Source Sans Pro", Helvetica, sans-serif;
	margin: 0;
}



/**
 * 5.0 Content
 * ----------------------------------------------------------------------------
 */

.hentry {
	padding: 40px 0;
}

.entry-header,
.entry-content,
.entry-summary,
.entry-meta {
	margin: 0 auto;
	max-width: 604px;
	width: 100%;
}

.sidebar .entry-header,
.sidebar .entry-content,
.sidebar .entry-summary,
.sidebar .entry-meta {
	max-width: 1040px;
	padding: 0 376px 0 60px;
}


/**
 * 5.1 Entry Header
 * ----------------------------------------------------------------------------
 */

.sidebar .entry-header .entry-meta {
	padding: 0;
}

.entry-thumbnail img {
	display: block;
	margin: 0 auto 10px;
}

.entry-header {
	margin-bottom: 30px;
}

.entry-title {
	font-weight: normal;
	margin: 0 0 5px;
	text-align:center;
}

.entry-title a {
	color: #141412;
}

.entry-title a:hover {
	color: #ea9629;
}


/**
 * 5.2 Entry Meta
 * ----------------------------------------------------------------------------
 */

.entry-meta {
	clear: both;
	font-size: 14px;
}

.entry-meta a {
	color: #bc360a;
}

.entry-meta a:hover {
	color: #bc360a;
}

.entry-meta > span {
	margin-right: 20px;
}

.entry-meta > span:last-child {
	margin-right: 0;
}

.featured-post:before {
	content: "\f308";
	margin-right: 2px;
}

.entry-meta .date a:before {
	content: "\f303";
}

.comments-link a:before {
	content: "\f300";
	margin-right: 2px;
	position: relative;
	top: -1px;
}

.entry-meta .author a:before {
	content: "\f304";
	position: relative;
	top: -1px;
}

.categories-links a:first-child:before {
	content: "\f301";
}

.tags-links a:first-child:before {
	content: "\f302";
	position: relative;
	top: -1px;
}

.edit-link a:before {
	content: "\f411";
	position: relative;
	top: -1px;
}

.single-author .entry-meta .author,
.sticky.format-standard .entry-meta .date,
.sticky.format-audio .entry-meta .date,
.sticky.format-chat .entry-meta .date,
.sticky.format-image .entry-meta .date,
.sticky.format-gallery .entry-meta .date {
	display: none;
}


/**
 * 5.3 Entry Content
 * ----------------------------------------------------------------------------
 */

.entry-content {
	-webkit-hyphens: auto;
	-moz-hyphens:    auto;
	-ms-hyphens:     auto;
	hyphens:         auto;
	word-wrap: break-word;
}

.entry-content a,
.comment-content a {
	color: #bc360a;
}

.entry-content a:hover,
.comment-content a:hover {
	color: #ea9629;
}

.entry-content .more-link {
	white-space: nowrap;
}

.entry-content blockquote {
	font-size: 24px;
}

.entry-content blockquote cite,
.entry-content blockquote small {
	font-size: 16px;
}

.entry-content img.alignleft,
.entry-content .wp-caption.alignleft {
	margin-left: -60px;
}

.entry-content img.alignright,
.entry-content .wp-caption.alignright {
	margin-right: -60px;
}

footer.entry-meta {
	margin-top: 24px;
}

.format-standard footer.entry-meta {
	margin-top: 0;
}

/* Page links */
.page-links {
	clear: both;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
	line-height: 2.2;
	margin: 20px 0;
	text-transform: uppercase;
}

.page-links a,
.page-links > span {
	background: #fff;
	border: 1px solid #fff;
	padding: 5px 10px;
	text-decoration: none;
}

.format-status .entry-content .page-links a,
.format-gallery .entry-content .page-links a,
.format-chat .entry-content .page-links a,
.format-quote .entry-content .page-links a,
.page-links a {
	background: #e63f2a;
	border: 1px solid #e63f2a;
	color: #fff;
}

.format-gallery .entry-content .page-links a:hover,
.format-audio .entry-content .page-links a:hover,
.format-status .entry-content .page-links a:hover,
.format-video .entry-content .page-links a:hover,
.format-chat .entry-content .page-links a:hover,
.format-quote .entry-content .page-links a:hover,
.page-links a:hover {
	background: #fff;
	color: #e63f2a;
}

.format-status .entry-content .page-links > span,
.format-quote .entry-content .page-links > span {
	background: none;
}

.page-links .page-links-title {
	background: transparent;
	border: none;
	margin-right: 20px;
	padding: 0;
}

/* Mediaelements */
.hentry .mejs-mediaelement,
.hentry .mejs-container .mejs-controls {
	background: #220e10;
}

.hentry .mejs-controls .mejs-time-rail .mejs-time-loaded,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	background: #fff;
}

.hentry .mejs-controls .mejs-time-rail .mejs-time-current {
	background: #ea9629;
}

.hentry .mejs-controls .mejs-time-rail .mejs-time-total,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
	background: #595959;
}

.hentry .mejs-controls .mejs-time-rail span,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	border-radius: 0;
}


/**
 * 5.4 Galleries
 * ----------------------------------------------------------------------------
 */

.gallery {
	margin-bottom: 20px;
	margin-left: -4px;
}

.gallery-item {
	float: left;
	margin: 0 4px 4px 0;
	overflow: hidden;
	position: relative;
}

.gallery-columns-1.gallery-size-medium,
.gallery-columns-1.gallery-size-thumbnail,
.gallery-columns-2.gallery-size-thumbnail,
.gallery-columns-3.gallery-size-thumbnail {
	display: table;
	margin: 0 auto 20px;
}

.gallery-columns-1 .gallery-item,
.gallery-columns-2 .gallery-item,
.gallery-columns-3 .gallery-item {
	text-align: center;
}

.gallery-columns-4 .gallery-item {
	max-width: 23%;
	max-width: -webkit-calc(25% - 4px);
	max-width:         calc(25% - 4px);
}

.gallery-columns-5 .gallery-item {
	max-width: 19%;
	max-width: -webkit-calc(20% - 4px);
	max-width:         calc(20% - 4px);
}

.gallery-columns-6 .gallery-item {
	max-width: 15%;
	max-width: -webkit-calc(16.7% - 4px);
	max-width:         calc(16.7% - 4px);
}

.gallery-columns-7 .gallery-item {
	max-width: 13%;
	max-width: -webkit-calc(14.28% - 4px);
	max-width:         calc(14.28% - 4px);
}

.gallery-columns-8 .gallery-item {
	max-width: 11%;
	max-width: -webkit-calc(12.5% - 4px);
	max-width:         calc(12.5% - 4px);
}

.gallery-columns-9 .gallery-item {
	max-width: 9%;
	max-width: -webkit-calc(11.1% - 4px);
	max-width:         calc(11.1% - 4px);
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
	margin-right: 0;
}

.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {
	clear: left;
}

.gallery-caption {
	background-color: rgba(0, 0, 0, 0.7);
	box-sizing: border-box;
	color: #fff;
	font-size: 14px;
	line-height: 1.3;
	margin: 0;
	max-height: 50%;
	opacity: 0;
	padding: 2px 8px;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: left;
	-webkit-transition: opacity 400ms ease;
	transition:         opacity 400ms ease;
	width: 100%;
}

.gallery-caption:before {
	box-shadow: 0 -10px 15px #000 inset;
	content: "";
	height: 100%;
	min-height: 49px;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

.gallery-item:hover .gallery-caption {
	opacity: 1;
}

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}


/**
 * 5.5 Post Formats
 * ----------------------------------------------------------------------------
 */

/* Aside */
.format-aside {
	background-color: #f7f5e7;
}

.blog .format-aside:first-of-type,
.single .format-aside:first-of-type,
.format-aside + .format-aside,
.format-aside + .format-link,
.format-link + .format-aside {
	box-shadow: inset 0 2px 2px rgba(173, 165, 105, 0.2);
}

.format-aside .entry-meta {
	margin-top: 0;
}

.format-aside blockquote {
	font-size: 100%;
	font-weight: normal;
}

.format-aside cite {
	font-size: 100%;
	text-transform: none;
}

.format-aside cite:before {
	content: "\2014";
	margin-right: 5px;
}

/* Audio */
.format-audio {
	background-color: #db572f;
}

.format-audio .entry-title {
	font-size: 28px;
	font-weight: bold;
}

.format-audio .entry-content:before {
	content: "\f109";
	float: left;
	font-size: 64px;
	position: relative;
	top: 4px;
}

.format-audio .entry-content a,
.format-audio .entry-meta a,
.format-audio .entry-content a:hover,
.format-audio .entry-meta a:hover {
	color: #fbfaf3;
}

.format-audio .audio-content {
	background: url(images/dotted-line.png) repeat-y left top;
	background-size: 4px 4px;
	float: right;
	padding-left: 35px;
	width: 80%;
	width: -webkit-calc(100% - 85px);
	width:         calc(100% - 85px);
}

.format-audio .wp-audio-shortcode {
	height: 30px !important; /* Override mediaelement.js style */
	margin: 20px 0;
	max-width: 400px !important; /* Override mediaelement.js style */
}

.format-audio audio {
	max-width: 100% !important; /* Avoid player width overflow. */
}

/* Chat */
.format-chat {
	background-color: #eadaa6;
}

.format-chat .entry-title {
	font-size: 28px;
	font-weight: bold;
}

.format-chat .entry-meta a,
.format-chat .entry-content a {
	color: #722d19;
}

.format-chat .entry-meta .date a:before {
	content: "\f108";
	margin-right: 2px;
}

.format-chat .entry-meta .author {
	display: none;
}

.format-chat .chat {
	margin: 0;
}

.format-chat .chat .chat-timestamp {
	color: #722d19;
	float: right;
	font-size: 12px;
	font-weight: normal;
	margin: 5px 10px 0;
}

.format-chat .chat .fn {
	font-style: normal;
}

/* Gallery */
.format-gallery {
	background-color: #fbca3c;
}

.format-gallery .entry-header {
	margin-bottom: 15px;
}

.format-gallery .entry-title {
	font-size: 50px;
	font-weight: 400;
	margin: 0;
}

.format-gallery .entry-meta a,
.format-gallery .entry-content a {
	color: #722d19;
}

/* Image */
.format-image .entry-title {
	font-size: 28px;
	font-weight: bold;
}

.format-image .categories-links,
.format-image .tags-links {
	display: none;
}

/* Link */
.format-link {
	background-color: #f7f5e7;
}

.blog .format-link:first-of-type,
.single .format-link:first-of-type {
	box-shadow: inset 0 2px 2px rgba(173, 165, 105, 0.2);
}

.format-link .entry-header,
.format-link .entry-content p:last-child {
	margin-bottom: 0;
}

.format-link .entry-title {
	color: #ca3c08;
	display: inline;
	font: 300 italic 20px "Source Sans Pro", Helvetica, sans-serif;
	margin-right: 20px;
}

.format-link .entry-title a {
	color: #bc360a;
}

.format-link div.entry-meta {
	display: inline;
}

/* Standard */
.format-standard .wp-video,
.format-standard .wp-audio-shortcode,
.format-audio .wp-audio-shortcode,
.format-standard .video-player {
	margin-bottom: 24px;
}

/* Quote */
.format-quote {
	background-color: #210d10;
}

.format-quote .entry-content,
.format-quote .entry-meta {
	color: #f7f5e7;
}

.format-quote .entry-content blockquote {
	font-size: 28px;
	margin: 0;
}

.format-quote .entry-content a,
.format-quote .entry-meta a,
.format-quote .linked {
	color: #e63f2a;
}

.format-quote .entry-content cite a {
	border-bottom: 1px dotted #fff;
	color: #fff;
}

.format-quote .entry-content cite a:hover {
	text-decoration: none;
}

.format-quote blockquote small,
.format-quote blockquote cite {
	display: block;
	font-size: 16px;
}

.format-quote blockquote {
	font-style: italic;
	font-weight: 300;
	padding-left: 75px;
	position: relative;
}

.format-quote blockquote:before {
	content: '\201C';
	font-size: 140px;
	font-weight: 400;
	line-height: .8;
	padding-right: 25px;
	position: absolute;
	left: -15px;
	top: -3px;
}

.format-quote .entry-meta .author {
	display: none;
}

/* Status */
.format-status {
	background-color: #722d19;
	padding: 0;
}

.format-status .entry-content,
.format-status .entry-meta {
	padding-left: 35px;
	position: relative;
}

.format-status .entry-content a {
	color: #eadaa6;
}

.format-status .entry-meta a {
	color: #f7f5e7;
}

.sidebar .format-status .entry-content,
.sidebar .format-status .entry-meta {
	padding-left: 95px;
}

.format-status .entry-content:before,
.format-status .entry-meta:before {
	background: url(images/dotted-line.png) repeat-y left bottom;
	background-size: 4px 4px;
	content: "";
	display: block;
	height: 100%;
	position: absolute;
	left: 10px;
	top: 0;
	width: 1px;
}

.sidebar .format-status .entry-content:before,
.sidebar .format-status .entry-meta:before {
	left: 70px;
}

.format-status .categories-links,
.format-status .tags-links {
	display: none;
}

/* Ensures the dots in the dot background are in lockstep. */
.format-status .entry-meta:before {
	background-position: left top;
}

.format-status .entry-content {
	color: #f7f5e7;
	font-size: 24px;
	font-style: italic;
	font-weight: 300;
	padding-bottom: 30px;
	padding-top: 40px;
	position: relative;
}

.format-status .entry-content p:first-child:before {
	background-color: rgba(0, 0, 0, 0.65);
	content: "";
	height: 3px;
	margin-top: 13px;
	position: absolute;
	left: 4px;
	width: 13px;
}

.sidebar .format-status .entry-content > p:first-child:before {
	left: 64px;
}

.format-status .entry-content p:last-child {
	margin-bottom: 0;
}

.format-status .entry-meta {
	margin-top: 0;
	padding-bottom: 40px;
}

.format-status .entry-meta .date a:before {
	content: "\f105";
}

/* Video */
.format-video {
	background-color: #db572f;
}

.format-video .entry-content a,
.format-video .entry-meta a,
.format-video .entry-content a:hover,
.format-video .entry-meta a:hover {
	color: #fbfaf3;
}

.format-video .entry-title {
	font-size: 50px;
	font-weight: 400;
}

.format-video .entry-meta {
	color: #220e10;
}


/**
 * 5.6 Attachments
 * ----------------------------------------------------------------------------
 */

.attachment .hentry {
	background-color: #e8e5ce;
	margin: 0;
	padding: 0;
}

.attachment .entry-header {
	margin-bottom: 0;
	max-width: 1040px;
	padding: 30px 0;
}

.attachment .entry-title {
	display: inline-block;
	float: left;
	font: 300 italic 30px "Source Sans Pro", Helvetica, sans-serif;
	margin: 0;
}

.attachment .entry-title:before {
	content: "\f416";
	font-size: 32px;
	margin-right: 10px;
}

.attachment .entry-meta {
	clear: none;
	color: inherit;
	float: right;
	max-width: 604px;
	padding: 9px 0 0;
	text-align: right;
}

.hentry.attachment:not(.image-attachment) .entry-meta {
	max-width: 104px;
}

.attachment footer.entry-meta {
	display: none;
}

.attachment-meta:before {
	content: "\f307";
}

.full-size-link a:before {
	content: "\f402";
}

.full-size-link:before {
	content: none;
}

.attachment .entry-meta a,
.attachment .entry-meta .edit-link:before,
.attachment .full-size-link:before {
	color: #ca3c08;
}

.attachment .entry-content {
	background-color: #fff;
	max-width: 100%;
	padding: 40px 0;
}

.image-navigation {
	margin: 0 auto;
	max-width: 1040px;
	position: relative;
}

.image-navigation a:hover {
	text-decoration: none;
}

.image-navigation .nav-previous,
.image-navigation .nav-next {
	position: absolute;
	top: 50px;
}

.image-navigation .nav-previous {
	left: 0;
}

.image-navigation .nav-next {
	right: 0;
}

.image-navigation .meta-nav {
	font-size: 32px;
	font-weight: 300;
	vertical-align: -4px;
}

.attachment .entry-attachment,
.attachment .type-attachment p {
	margin: 0 auto;
	max-width: 724px;
	text-align: center;
}

.attachment .entry-attachment .attachment {
	display: inline-block;
}

.attachment .entry-caption {
	text-align: left;
}

.attachment .entry-description {
	margin: 20px auto 0;
	max-width: 604px;
}

.attachment .entry-caption p:last-child,
.attachment .entry-description p:last-child {
	margin: 0;
}

.attachment .site-main .sidebar-container {
	display: none;
}

.attachment .entry-content .mejs-audio {
	max-width: 400px;
	margin: 0 auto;
}

.attachment .entry-content .wp-video {
	margin: 0 auto;
}

.attachment .entry-content .mejs-container {
	margin-bottom: 24px;
}

/**
 * 5.7 Post/Paging Navigation
 * ----------------------------------------------------------------------------
 */

.navigation .nav-previous {
	float: left;
}

.navigation .nav-next {
	float: right;
}

.navigation a {
	color: #bc360a;
}

.navigation a:hover {
	color: #ea9629;
	text-decoration: none;
}

.paging-navigation {
	background-color: #e8e5ce;
	padding: 40px 0;
}

.paging-navigation .nav-links {
	margin: 0 auto;
	max-width: 604px;
	width: 100%;
}

.sidebar .paging-navigation .nav-links {
	max-width: 1040px;
	padding: 0 376px 0 60px;
}

.paging-navigation .nav-next {
	padding: 13px 0;
}

.paging-navigation a {
	font-size: 22px;
	font-style: italic;
	font-weight: 300;
}

.paging-navigation .meta-nav {
	background-color: #e63f2a;
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	font-size: 26px;
	padding: 3px 0 8px;
	text-align: center;
	width: 50px;
}

.paging-navigation .nav-previous .meta-nav {
	margin-right: 10px;
	padding: 17px 0 23px;
	width: 80px;
}

.paging-navigation .nav-next .meta-nav {
	margin-left: 10px;
}

.paging-navigation a:hover .meta-nav {
	background-color: #ea9629;
	text-decoration: none;
}

.post-navigation {
	background-color: #fff;
	color: #ca3c08;
	font-size: 20px;
	font-style: italic;
	font-weight: 300;
	padding: 20px 0;
}

.post-navigation .nav-links {
	margin: 0 auto;
	max-width: 1040px;
}

.sidebar .post-navigation .nav-links {
	padding: 0 376px 0 60px;
}

.post-navigation a[rel="next"] {
	float: right;
	text-align: right;
}


/**
 * 5.8 Author Bio
 * ----------------------------------------------------------------------------
 */

.author-info {
	margin: 0 auto;
	max-width: 604px;
	padding: 30px 0 10px;
	text-align: left; /* gallery & video post formats */
	width: 100%;
}

.author.sidebar .author-info {
	max-width: 1040px;
	padding: 30px 376px 10px 60px;
}

.single .author-info {
	padding: 50px 0 0;
}

.author-avatar .avatar {
	float: left;
	margin: 0 30px 30px 0;
}

.single-format-status .author-description {
	color: #f7f5e7;
}

.author-description .author-title {
	clear: none;
	font: 300 italic 20px "Source Sans Pro", Helvetica, sans-serif;
	margin: 0 0 8px;
}

.author-link {
	color: #ca3c08;
	margin-left: 2px;
}

.author.archive .author-link {
	display: none;
}


/**
 * 5.9 Archives
 * ----------------------------------------------------------------------------
 */

.archive-header {
	background-color: #e8e5ce;
}

.archive-title,
.archive-meta {
	font: 300 italic 30px "Source Sans Pro", Helvetica, sans-serif;
	margin: 0 auto;
	max-width: 1040px;
	padding: 30px 0;
	width: 100%;
}

.archive-meta {
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	margin-top: -15px;
	padding: 0 0 11px;
}

.sidebar .archive-meta {
	padding-right: 316px;
}


/**
 * 5.10 Search Results/No posts
 * ----------------------------------------------------------------------------
 */

.page-header {
	background-color: #e8e5ce;
}

.page-title {
	font: 300 italic 30px "Source Sans Pro", Helvetica, sans-serif;
	margin: 0 auto;
	max-width: 1040px;
	padding: 30px 0;
	width: 100%;
}

.page-content {
	margin: 0 auto;
	max-width: 604px;
	padding: 40px 0;
	width: 100%;
}

.sidebar .page-content {
	margin: 0 auto;
	max-width: 1040px;
	padding: 40px 376px 40px 60px;
}


/**
 * 5.11 404
 * ----------------------------------------------------------------------------
 */

.error404 .page-header {
	background-color: #fff;
}

.error404 .page-title {
	line-height: 0.6;
	margin: 0;
	padding: 300px;
	position: relative;
	text-align: center;
	width: auto;
}

.error404 .page-title:before {
	color: #e8e5ce;
	content: "\f423";
	font-size: 964px;
	line-height: 0.6;
	overflow: hidden;
	position: absolute;
	left: 7px;
	top: 28px;
}

.error404 .page-wrapper {
	background-color: #e8e5ce;
}

.error404 .page-header,
.error404 .page-content {
	margin: 0 auto;
	max-width: 1040px;
	padding-bottom: 40px;
	width: 100%;
}


/**
 * 5.12 Comments
 * ----------------------------------------------------------------------------
 */

.comments-title,
.comment-list,
.comment-reply-title,
.must-log-in,
.comment-respond .comment-form,
.comment-respond iframe {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 604px;
	width: 100%;
}

.sidebar .comments-title,
.sidebar .comment-list,
.sidebar .must-log-in,
.sidebar .comment-reply-title,
.sidebar .comment-navigation,
.sidebar .comment-respond .comment-form {
	max-width: 1040px;
	padding-left: 60px;
	padding-right: 376px;
}

.comments-title {
	font: 300 italic 28px "Source Sans Pro", Helvetica, sans-serif;
}

.comment-list,
.comment-list .children {
	list-style-type: none;
	padding: 0;
}

.comment-list .children {
	margin-left: 20px;
}

.comment-list > li:after,
.comment-list .children > li:before {
	background: url(images/dotted-line.png) repeat left top;
	background-size: 4px 4px;
	content: "";
	display: block;
	height: 1px;
	width: 100%;
}

.comment-list > li:last-child:after {
	display: none;
}

.comment-body {
	padding: 24px 0;
	position: relative;
}

.comment-author {
	float: left;
	max-width: 74px;
}

.comment-author .avatar {
	display: block;
	margin-bottom: 10px;
}

.comment-author .fn {
	word-wrap: break-word;
}

.comment-author .fn,
.comment-author .url,
.comment-reply-link,
.comment-reply-login {
	color: #bc360a;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
}

.says {
	display: none;
}

.no-avatars .comment-author {
	margin: 0 0 5px;
	max-width: 100%;
	position: relative;
}

.no-avatars .comment-metadata,
.no-avatars .comment-content,
.no-avatars .comment-list .reply {
	width: 100%;
}

.bypostauthor > .comment-body .fn:before {
	content: "\f408";
	vertical-align: text-top;
}

.comment-list .edit-link {
	margin-left: 20px;
}

.comment-metadata,
.comment-awaiting-moderation,
.comment-content,
.comment-list .reply {
	float: right;
	width: 79%;
	width: -webkit-calc(100% - 124px);
	width:         calc(100% - 124px);
	word-wrap: break-word;
}

.comment-meta,
.comment-meta a {
	color: #a2a2a2;
	font-size: 13px;
}

.comment-meta a:hover {
	color: #ea9629;
}

.comment-metadata {
	margin-bottom: 20px;
}

.ping-meta {
	color: #a2a2a2;
	font-size: 13px;
	line-height: 2;
}

.comment-awaiting-moderation {
	color: #a2a2a2;
}

.comment-awaiting-moderation:before {
	content: "\f414";
	margin-right: 5px;
	position: relative;
	top: -2px;
}

.comment-reply-link:before,
.comment-reply-login:before {
	content: "\f412";
	margin-right: 3px;
}

/* Comment form */
.comment-respond {
	background-color: #f7f5e7;
	padding: 30px 0;
}

.comment .comment-respond {
	margin-bottom: 20px;
	padding: 20px;
}

.comment-reply-title {
	font: 300 italic 28px "Source Sans Pro", Helvetica, sans-serif;
}

.comment-reply-title small a {
	color: #131310;
	display: inline-block;
	float: right;
	height: 16px;
	overflow: hidden;
	width: 16px;
}

.comment-reply-title small a:hover {
	color: #ed331c;
	text-decoration: none;
}

.comment-reply-title small a:before {
	content: "\f406";
	vertical-align: top;
}

.sidebar .comment-list .comment-reply-title,
.sidebar .comment-list .comment-respond .comment-form {
	padding: 0;
}

.comment-form .comment-notes {
	margin-bottom: 15px;
}

.comment-form .comment-form-author,
.comment-form .comment-form-email,
.comment-form .comment-form-url {
	margin-bottom: 8px;
}

.comment-form [for="author"],
.comment-form [for="email"],
.comment-form [for="url"],
.comment-form [for="comment"] {
	float: left;
	padding: 5px 0;
	width: 120px;
}

.comment-form .required {
	color: #ed331c;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"] {
	max-width: 270px;
	width: 60%;
}

.comment-form textarea {
	width: 100%;
}

.form-allowed-tags,
.form-allowed-tags code {
	color: #686758;
	font-size: 12px;
}

.form-allowed-tags code {
	font-size: 10px;
	margin-left: 3px;
}

.comment-list .pingback,
.comment-list .trackback {
	padding-top: 24px;
}

.comment-navigation {
	font-size: 20px;
	font-style: italic;
	font-weight: 300;
	margin: 0 auto;
	max-width: 604px;
	padding: 20px 0 30px;
	width: 100%;
}

.no-comments {
	background-color: #f7f5e7;
	font-size: 20px;
	font-style: italic;
	font-weight: 300;
	margin: 0;
	padding: 40px 0;
	text-align: center;
}

.sidebar .no-comments {
	padding-left: 60px;
	padding-right: 376px;
}


/**
 * 5.13 Multisite
 * ----------------------------------------------------------------------------
 */

.site-main .mu_register {
	margin: 0 auto;
	max-width: 604px;
	width: 100%;
}

.mu_alert {
	margin-top: 25px;
}

.site-main .mu_register input[type="submit"],
.site-main .mu_register #blog_title,
.site-main .mu_register #user_email,
.site-main .mu_register #blogname,
.site-main .mu_register #user_name {
	font-size: inherit;
	width: 270px;
}

.site-main .mu_register input[type="submit"] {
	width: auto;
}


/**
 * 6.0 Sidebar
 * ----------------------------------------------------------------------------
 */

.site-main .widget-area {
	float: right;
	width: 300px;
}


/**
 * 6.1 Widgets
 * ----------------------------------------------------------------------------
 */

.widget {
	background-color: rgba(247, 245, 231, 0.7);
	font-size: 14px;
	-webkit-hyphens: auto;
	-moz-hyphens:    auto;
	-ms-hyphens:     auto;
	hyphens:         auto;
	margin: 0 0 24px;
	padding: 20px;
	word-wrap: break-word;
}

.widget .widget-title {
	font: 300 italic 20px "Source Sans Pro", Helvetica, sans-serif;
	margin: 0 0 10px;
}

.widget ul,
.widget ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.widget li {
	padding: 5px 0;
}

.widget .children li:last-child {
	padding-bottom: 0;
}

.widget li > ul,
.widget li > ol {
	margin-left: 20px;
}

.widget a {
	color: #bc360a;
}

.widget a:hover {
	color: #ea9629;
}

/* Search widget */
.search-form .search-submit {
	display: none;
}

/* RSS Widget */
.widget_rss .rss-date {
	display: block;
}

.widget_rss .rss-date,
.widget_rss li > cite {
	color: #a2a2a2;
}

/* Calendar Widget */
.widget_calendar table,
.widget_calendar td {
	border: 0;
	border-collapse: separate;
	border-spacing: 1px;
}

.widget_calendar caption {
	font-size: 14px;
	margin: 0;
}

.widget_calendar th,
.widget_calendar td {
	padding: 0;
	text-align: center;
}

.widget_calendar a {
	display: block;
}

.widget_calendar a:hover {
	background-color: rgba(0, 0, 0, 0.15);
}

.widget_calendar tbody td {
	background-color: rgba(255, 255, 255, 0.5);
}

.site-footer .widget_calendar tbody td {
	background-color: rgba(255, 255, 255, 0.05);
}

.widget_calendar tbody .pad, .site-footer .widget_calendar tbody .pad {
	background-color: transparent;
}


/**
 * 7.0 Footer
 * ----------------------------------------------------------------------------
 */

.site-footer {
	/*background-color: #e8e5ce;*/
	font-size: 14px;
	color: #686758;	
	text-align: center;
}

.site-footer .widget-area,
.sidebar .site-footer {
	text-align: left;
}

.site-footer a {
	color: #686758;
}

.site-footer .sidebar-container {
	background-color: #2c3a69;
	padding: 70px 0;
}

.site-footer .widget-area {
	margin: 0 auto;
	max-width: 1040px;
	width: 100%;
}

.sidebar .site-footer .widget-area {
	max-width: 724px;
	position: relative;
	left: -158px;
}

.site-footer .widget {
	background: transparent;
	color: #fff;
	float: left;
	margin-right: 20px;
	width: 245px;
}

.sidebar .site-footer .widget {
	width: 228px;
}

.sidebar .site-footer .widget:nth-of-type(4),
.sidebar .site-footer .widget:nth-of-type(3) {
	margin-right: 0;
}

.site-footer .widget a {
	color: #e6402a;
}

.site-footer .widget-title,
.site-footer .widget-title a,
.site-footer .wp-caption-text {
	color: #fff;
}

.site-info {
	margin: 0 auto;
	max-width: 1040px;
	padding: 30px 0;
	width: 100%;
}

#wpstats {
	display: block;
	margin: -10px auto 0;
}


/********************* UPDATED BY CHETU ********************/

/*********** common css start ***********/
.hide-text {
    left: -9999px;
    position: absolute;
    top: -99999px;
}
.align-left{
	text-align:left;
}
.align-center{
	text-align:center;
}
.align-right{
	text-align:right;
}
/*********** common css end ***********/

.container{
	max-width:1080px;
	margin:0 auto;
}
#main .container{
	max-width:1110px;
}

.logo-area{
	float:left;
	/*border:solid 1px red;*/
	margin-left:70px;
}
.logo{
	margin:25px 0px 25px 0px;
}
.top-menu-area{
	margin: 32px 70px 0px 0px;
	float: right;
	/*border:solid 1px red;*/
	width:70%;
}
 .navbar-header {
    display: none;
 }
 
/**************** TOP AND MAIN NAVIGATION ******************/

@media (min-width:1025px) { 
.mobile-top-menu{
	display:none;
}
.menu-top-menu-container {
    float:right;
}
.top-menu-area .nav  {
    list-style-type: none;
    margin:0px;
    list-style-image:none;
    float: right;
}
.top-menu-area .nav li:before{
	display:none;
}
.top-menu-area .nav li{
	float:left;
	margin-left:15px;	
	border-radius:3px;
	padding-left:0px;
	font-size:15px; 
    position: relative;
}
.top-menu-area .nav li a {
	color:#95a5b2;
	padding:2px 13px;
	float:left;
	width:100%;
}
.top-menu-area .nav li:hover a{
	text-decoration:none;
}
.top-menu-area .nav li:hover ul.sub-menu{
	display:block;
}
.top-menu-area .nav li:hover .sub-menu .sub-menu{
    display:none;
    top:0;
    left: -160px;
 }
 .top-menu-area .nav li:hover li:hover .sub-menu{
      display:block;
  }
.top-menu-area .nav ul{
	position:absolute;
	top: 26px;
	left: 0;
	margin-top: 0px;
	display:none;
	background-color:#2C3A69;
	width: 160px;
}
.top-menu-area .nav li:last-child ul {
        left: -75px;    
}
.top-menu-area .nav li.right ul.sub-menu {
        left: 0px;    
}
.top-menu-area .nav ul ul {
    left: 100%;
    top: 0;
	background-color:#38487b;
}
.top-menu-area .nav ul li, 
.top-menu-area .nav li:last-child{
	margin-left:0px;
	border:0px;
}
.top-menu-area .nav li.right a.user-name{
	font-weight:bold;
	color:#000;
}
.top-menu-area .nav ul li a{
	color:#fff;
	padding:5px 13px;
}
.top-menu-area .nav ul li{
	border-bottom:solid 1px #38487b;
}
.top-menu-area .nav ul li li{
	border-bottom:solid 1px #47588e;
}
.top-menu-area .nav ul.sub-menu {
    z-index: 5;
}

.top-menu-area .nav ul.sub-menu li a:hover {    
	background-color:#fc5721;       
}
.main-navigation-area{
	float:right;
	width:100%;	
}
.main-navigation{	
	width:100%;
	max-width:auto;
	float:right;	
}
ul.nav-menu{
	float:right;
	margin:-68px 70px 0px 0px;
	padding:0px;
}

.nav-menu li {
	float:left;
	display: inline;
	position: relative;
	margin-left:40px;
	padding: 0px 0px 0px 0px;
}
.nav-menu li a {
	padding: 15px 0px 29px 0px;
	color: #1e7fce;
	display: block;
	font-size: 20px;
    font-weight: 500;
	/*line-height: 16px;*/
	text-decoration: none;
	text-transform:uppercase;
}
.nav-menu li:hover > a{
	color:#2c3a69;
}
.nav-menu li:last-child a{
	padding-right:0px;
}
.menu-main-menu-container{
	width:100%;
}

ul.nav-menu .sub-menu .sub-menu {
    left: 100%;
}
ul.nav-menu .sub-menu .sub-menu li {
    float: left;
}
.sub-menu{
	margin:0px;
    display: none;
    left: 0px;
    position: absolute;
    top: 68px;
    height: auto;
    z-index: 1000; 
    background-color: #2C3A69;
}
.sub-menu .sub-menu{
	background-color:#38487b;
}
ul.nav-menu li:hover .sub-menu{
    display: block;
    width: 180px;
}
.sub-menu li{    
    width:100%;
	border-bottom:solid 1px #38487b;
	margin:0px;
}
ul.nav-menu li:hover .sub-menu .sub-menu{
    display:none;
    top: 0px;
    left:100%;
	
 }

ul.nav-menu li:hover li:hover .sub-menu{
      display:block;
}
.sub-menu .sub-menu li{
	border-bottom:solid 1px #47588e;
}
ul.nav-menu ul a,
.nav-menu ul ul a {
	color: #fff;
	margin: 0;
	padding: 10px 10px;
	font-size:14px;
	text-transform:none;
}
ul.nav-menu .sub-menu li {
    padding: 0;   
}
ul.nav-menu .sub-menu li:hover > a, 
ul.nav-menu .sub-menu li a:hover{
	color:#fff;
	/*text-decoration:underline;*/
	background-color:#fc5721;
}
}
/*==New Css==*/



.intro-banner{
	/*width:100%;*/
	background-color:#a9cb1f;
	padding:70px 15px;
	/*float:left;*/
	text-align:center;
	color:#fff;
}
.intro-banner h3{
	font-weight:400;
	text-transform:uppercase;
}
#main{
	clear:both;
}
/****************** FOOTER CSS ********************/

.footer-top{
	background-color:#39487b;
	padding:25px 0px;
	color:#fff;
}
.footer-top-container{
	margin: 0 auto;
    max-width: 850px;
    padding: 0px 0;
    width: 100%;
}
.footer-top-container h2{
	margin:5px 0px 0px 0px;
	text-align:right;
}

.newsletter-area{
	border:solid 2px #fff;
	border-radius:22px;
	padding:0px 12px;
	float:left;
	width:100%;
	max-width:345px;
}
.newsletter-area input[type="email"],footer .newsletter-area input{
	float:left;
	width:85%;
	border:0px;
	background:none !important;
	color:#fff;
	font-size:15px;
}

.newsletter-area button, .newsletter-area input[type="submit"]{
	background:none;
	float:right;
	padding:6px 8px 0 8px;
	border:0px;
	min-width: auto;
	max-width: 50px;
}

.footer-bottom {
	background-color: #2c3a69;
	padding: 50px 0;
	color:#fff;
}

.footer-bottom .links ul{
	margin:0px 0px 30px 0px;
	padding:0px;
	list-style-type:none;
}
.footer-bottom .links ul li{
	display:inline;
	padding:0px 20px;
}
.footer-bottom .links ul li a{
	color:#fff;
	text-transform:uppercase;
}
.footer-bottom p{
	margin:0px;
}
.footer-bottom .social-networks{
	margin:30px 0px 0px 0px;
	list-style-type:none;
}
.footer-bottom .social-networks li{
	display:inline-block;
	margin:0px 4px;
}
.footer-bottom .social-networks li a{
	width:24px;
	height:24px;
	background-color:#fff;
	border-radius:50%;
	line-height:24px;
	display:block;
	margin:0px;
	padding:0px;
}
.footer-bottom .social-networks li a:hover{
	background-color:#fc5721;
}
.footer-bottom .social-networks li.facebook a{
	background-image:url(images/facebook-icon.png);
	background-position:center center;
	background-repeat:no-repeat;
}
.footer-bottom .social-networks li.twitter a{
	background-image:url(images/twitter-icon.png);
	background-position:center center;
	background-repeat:no-repeat;
}
.footer-bottom .social-networks li.linkedin a{
	background-image:url(images/linkedin-icon.png);
	background-position:center center;
	background-repeat:no-repeat;
}
.footer-bottom .social-networks li.youtube a{
	background-image:url(images/youtube-icon.png);
	background-position:center center;
	background-repeat:no-repeat;
}
.search-area{
	border:solid 2px #fff;
	border-radius:22px;
	padding:0px 12px;
	margin-bottom:20px;
	width:100%;
	display:inline-block;
	max-width:345px;
}
.search-area form{
	margin:0px;
	padding:0px;
	text-align:left;
}
.search-area input[type="text"]{
	float:left;
	width:85%;
	color:#fff;
	background:none;
	border:0;
}
.search-area input[type="submit"]{
	margin:0px;
	padding:0px;
	background-image:url(images/search-icon-white.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-color:transparent;
	width:34px;
	height:34px;
	float:right;
	text-indent:-99999px;
}
.search-area ::-webkit-input-placeholder {
  color: #fff;
  opacity:1;
}
.search-area ::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
   opacity:1;
}
.search-area :-ms-input-placeholder {
  color: #fff;
}
.search-area :-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

.green-row{
	background-color:#a9cb1f;
	color:#fff;
}
.row-block.green-row h1{
	color:#fff;
}
.row-block .btn-1{
	color:#fff;
	display:inline-block;
	padding:10px 20px;
	border-radius:30px;
	text-decoration:none;
	transition: all 0.5s ease-in-out 0s;
	text-transform:uppercase;
	font-size:14px;
}
.row-block .btn-1:hover{
	background-color:#83a206;
	transition: all 0.5s ease-in-out 0s;
}
.row-block .btn-2{
	color:#fff;
	display:inline-block;
	padding:10px 20px;
	border-radius:30px;
	text-decoration:none;
	transition: all 0.5s ease-in-out 0s;
	text-transform:uppercase;
	font-size:14px;
	background-color:#fc5721;
}
.row-block .btn-2:hover{
	background-color:#c73c0f;
	transition: all 0.5s ease-in-out 0s;
}
.button-holder{
	margin:20px 0px;
	display:inline-block;
}
.row-block .btn-1.expand, .row-block .btn-2.expand {
    padding-left: 90px;
    padding-right: 90px;
    width: inherit;
}
.column-centered{
	float:none;
	clear:both;
	margin-left: auto;
    margin-right: auto;
}
.column-left{
	float:none;
	clear:both;
	margin-left: 0;
    margin-right: auto;
}
.pageup{
	position:absolute;
	background-color:#fc5721;
	width:40px;
	height:40px;
	right:20px;
	margin-top:-50px;
	background-image:url(images/menu-arrow-up.png);
	background-repeat:no-repeat;
	background-position:center center;
}
.client-portfolio{
	margin:0px 0px 60px 0px;
}
h2.parallax{
	color:#000;
	padding:20px;
	margin:0px 0px 30px 0px;
	background-color: rgba(255, 255, 255, 0.6);
	position:relative;
	text-transform:uppercase;
}
h2.parallax + p{
	background-color:#fc5721;	
	width:100%;
	clear:both;
	padding:10px;
}

.parallax .gba-helps-block{
	background-color:#fff;
}

.button.small{
	font-size: 16px;	
	line-height:normal;
	padding: 10px 24px;
}

ul {
	 /*list-style-image:url(images/bullet.png);*/
	 list-style-type:none;
}
ul li {
	color:#2c3a69;
}
mark {
	color:#2c3a69;
	background: none;
}
.home-banner{
	width:100%;
	position:relative;
}

.home-banner .text-area{
	position:absolute;
	top:0px;
	width:100%;
	height:100%;
	overflow:hidden;
}
.home-banner .text-area .text-wrapper{
	display:table;
	width:100%;
	height:100%;
}
.home-banner .banner-text{
	display:table-cell;
	vertical-align:middle;
	color:#fff;
	text-align:center;
    max-width: 700px;
	padding:0px;
}
.home-banner .banner-text a{
	width:30%;
	display:inline-block;
	text-align:center;
	color:#fff;
	transition:none;	
}
.home-banner .banner-text a:hover{
	color:#a9cb1f;
	text-decoration:none;
}
.home-banner2 .banner-text a {
	color:#2c3a69;
	font-size: 14px;
	text-transform:uppercase;
	background-color:#fff;
	padding:10px 20px;
	width:auto;
	margin:0px;
}
.home-banner2 .banner-text a:hover {
	color:#172248;
}

.home-banner .banner-text a:hover img{
	opacity:.5;
}
.home-banner .strip{
	position:absolute;
	bottom:30px;
	width:100%;
	background-color:rgba(0, 0, 0, 0.5);
	color:#fff;
	padding:20px;
}
.home-banner2 .banner-text{
	color:#fff;
}
.home-banner2 .banner-text h1{
	color:#fff;
}


.lab-icon span:before, .lab-icon span:after{
	display:none;
}
.lab-icon span, .banner-text .lab-icon span{
    letter-spacing: 1px;
    text-transform: uppercase;
	font-size:18px;
	margin-top:10px;
	display:inline-block;
}

.circle {    
    border-radius: 50%;
    height: 170px;
    margin: 10px auto 30px auto;
    padding: 35px;
    text-align: center;
    width: 170px;
	background-color:#e4eaec;
	display:table;
}
.circle span{
	display:table-cell;
	vertical-align:middle;
	color:#2c3a69;
}
.banner-text{
	color:#fff;
	text-align:center;
	padding-top:250px;
	margin: auto;
    max-width: 700px;
}
.banner-text .title{
	font-size: 70px;
    font-weight: 200;
    line-height: 72px;
    margin: 0;
    text-transform: uppercase;
	color:#fff;
}
.banner-text span{
	text-transform:uppercase;
	font-size: 24px;
	clear:both;
}
.banner-text span:before {
    margin-right: 10px;
}
.banner-text span:before, .banner-text span:after {
    /*content: "ÃƒÂ¢Ã¢â€šÂ¬Ã¢â‚¬Â";*/
    content: "";
    border-top:solid 2px #fff;
    width: 20px;
    display:inline-block;
    margin-top:-5px;
    height:5px;
}
.banner-text span:after {
    margin-left: 10px;
}
.banner-text button, .banner-text .button{
    min-width: 160px;
    padding: 15px 25px;
	font-size:18px;
}
.banner-text.with-button{
	padding-top: 220px;
}
.home-slider .banner-text{
    padding:17% 20px 0px 20px;   
}
/****************** The Opportunity page ********************/
.full-image-area{
	position:relative;
	max-height:650px;
	overflow:hidden;
}
.full-image-area .full-image{
	position:relative;
}
.full-image-area .full-image img{
	width:100%;
}
.box-block{	
	position:absolute;
	top:0px;
	height:100%;
	width:100%;
}
.box-block h3{
	text-transform:uppercase;
	color:#fff;
	margin:80px 0px 0px 70px;	
}
.box-block ul{
	/*margin:80px auto;*/
	top:170px;
	position:absolute;
	width:100%;
	text-align:center;
}
.box-block ul li:before{
	display:none;
}
#main .box-block ul li{
	padding:0 0px;
	margin:0px;
}
.box-block ul li{
	display:inline-block;
	color:#fff;
	padding-left:0px;
	text-align:center;
	background-color:rgba(44, 58, 105, 0.9);
	width:265px;	
	height:265px;
}
.box-block ul li h3{
	margin:0px;
	display:table;
	height:100%;
	width:100%;
}
.box-block ul li div{
	color:#fff;	
	display:table-cell;
	vertical-align:middle;
	position:relative;
	overflow:hidden;
	transition: all 0.5s ease-in-out 0s;
}

.box-block ul li div span{
    padding:10px;
    line-height:20px;
    background-color:#39487b;
    display: block; 
    position: absolute;
    text-align: center;
    width: 100%;	
    margin:auto;
    text-transform:none;
    font-size:16px;
    top:280px;    
    transition: all 0.5s ease-in-out 0s; 
    height: 280px;
}
.box-block ul li div span > a{
		color:#fff;
        font-size:24px;
        text-transform: uppercase;
        position: absolute;
        top:-150px;
        transform: translate3d(0px, 0%, 0px);
        transition: all 0.5s ease-in-out 0s;        
        width: 100%;
        left:0;
        z-index: 1;
		padding:0px 10px;
}

.box-block ul li div:hover span{	
    top: 0;
	transform: translate3d(0px, 0%, 0px);
	transition: all 0.5s ease-in-out 0s;   
}
.box-block ul li div:hover span > a{
    top: 20%;
    /*transform: translate3d(0px, 0%, 0px);*/
}
.box-block ul li div span p{
    position: absolute;
    top:100%;
	padding:10px;
    /*top: 0%;
    transform: translate3d(0px, 100%, 0px);*/
}
.box-block ul li div:hover span p{
    top:35%;
    /*top: 0%;
    transform: translate3d(0px, 100%, 0px);*/
}
.box-block ul li div span p a, .box-block ul li div span p a:hover, .box-block ul li div span p a:visited, .box-block ul li div span p a:focus{
	width:100%;
	float:left;
	color:#a9cb1f;
        margin-top:20px;
}

/********************** row-block **************************/

.row-block:after, .row-block:before {
	display:table;
	content:" "
}
.row-block:after {
	clear:both
}
.row-block {
	padding:60px 0;
}
.row-block .row-block{
	padding:60px 0 0 0px;
}
.row-block h1 {
	color:#a9cb1f;
	margin:0 0 40px 0;
	text-align:center;
	font-weight:200;
}
.tab-panal{
	padding-top:0px;
}
/*.row-block h2 {
	font-size:24px;
	text-transform:uppercase;
}*/
.row-block a {
	color:#1e7fce;
}
/*.row-block a:hover {
	color:#2291eb;
}*/
.circle-border {
	border: 4px solid #e4eaec;
  	border-radius: 50%;
  	padding: 35px;
  	margin: auto;
  	width: 140px;
	height: 140px;
  	text-align: center;
}
/********************** heading-block **************************/
.heading-block h1{
	margin:0px;
}
.heading-block span {
	padding:0px 15px 40px 14px;
	text-align:center;
	display:block;
}
.video-block #video-container span{
	padding:0px;
	font-size:inherit;
	line-height:inherit;
}
.content-box {
	margin-botom:20px;
}
.content-box h2 {
	font-size:30px;
	color:#2c3a69;
}
.content-box h3 {
	color:#2c3a69;
}
.content-box button, .content-box .button{
	min-width:150px;
}
/********************** right-block **************************/
.right-block {
	background:#f4f7f8;
	text-align:center;
	padding:15px;
}
.right-block h4 {
	font-size:18px;
}
.right-block p {
	color:#95a5b2;
	border-bottom:1px solid #e4eaec;
	padding:0px 25px 15px 25px;
}
.right-block p:last-child {
	border-bottom:none;
}
/********************** views-block **************************/
.home-result-block {	
	text-align:center;
}
.home-result-block h3 {
	color:#fff;
	font-size:96px;
	line-height:120px;
	margin:10px 0px;
}
.result-block {
	background:#f4f7f8;
	text-align:center;
}
.result-block figure{
	margin:30px 0px;
}
.result-block h3 {
	color:#a9cb1f;
	font-size:96px;
	line-height:120px;
	margin:10px 0px;
}
.result-block span {
	color:#95a5b2;
}
.result-block ul {
	width:100%;
	list-style-type:none;
	list-style-image:none;
}
#main .result-block ul li:before, #main ul.links-list li:before{
	display:none;
}
.result-block ul li {
	width:25%;
	padding:15px;
	float:left;
}
.result-block ul li h3 {
	color:#a9cb1f;
	font-size:120px;
	margin:10px 0px;
	line-height:100px;
}
.result-block ul li span {
	color:#95a5b2;
}
.result-block ul li {
	border-right:1px solid #e4eaec;
}
.result-block ul li:last-child {
	border-right:none;
}
/********************** views-block **************************/
.site .views-block {
	text-align:center;
	padding-left:15px;
	padding-right:15px;
}
.views-block p{
	font-size:24px;
}
.views-block h5 {
	margin:10px 0px 0px 0px;
	line-height:20px;
}
.views-block span{
	font-size:14px;
}
/********************** list-block **************************/
.links-block {
	text-align:center;
	border-top:2px #e4eaec solid;
	border-bottom:2px #e4eaec solid;
}
.links-block h2{
	font-size:30px;
}
.links-block ul {
	list-style: none;
    padding: 30px 0px 0px 0px;
    margin: 0px;
}
.links-block ul li {
	font-size: 18px;
 	line-height: 40px;
	float:left;
	width:20%;
	color:#a9cb1f;
	text-align:center;
	margin-bottom:10px;	
}
.links-block ul li img {
	margin-bottom:20px;
}
/********************** list-block end **************************/
.social-block {
	text-align:center;
}
.social-block ul {
	list-style: none;
    padding: 0px;
    margin: auto;
	display:inline-block;
	/*width:280px;*/
}
#main .social-block ul li {
	padding:0;
	width:100%;
}
#main .social-block ul li .norm_row{
	position:inherit !important;
	width:100% !important;
}
#main .social-block ul li .norm_row .sfsi_wicons{
	padding:0px;
	margin:0px 10px 5px 10px !important;
}
/*.social-block ul li{
	float:left;
	width:20%;
}
.social-block ul li{
	float:left;
	width:20%;
}*/
/********************** gallery-block **************************/
#main .gallery-block {
		text-align:center;
}
#main .gallery-block ul {
	list-style: none;
    padding: 15px;
    margin: auto;
}
#main .gallery-block ul li:before{
	display:none;
}
#main .gallery-block ul li{
	float:left;
	width:20%;
	padding:1px;
	margin:0px;
}
#main .gallery-block ul li img{
	width:100%;
	max-width:100%;
}
#main .gallery-block ul li:nth-child(4n) {
	float:right;
	width:40%;
}
#main .gallery-block ul li:nth-child(5n){
	width:40%;
}
#main .gallery-block ul li:nth-child(8n){
		width:20%;
}

/********************** twitter-block **************************/
.border-block {
	border-top:2px #e4eaec solid;
}
.twitter-block .twitter-img {
	width:15%;
	float:left;
	padding:10px;
}
.twitter-block .twitter-content {
	width:85%;
	float:left;
	padding:0 10px;
}
/********************** views-block **************************/
.journey-block {
	background:#f4f7f8;
	text-align:center;
}
.result-block h2, .journey-block h2{
	text-transform:uppercase;
}



/********************** text-align & float **************************/
.align-center {
	text-align:center;
}
.align-left {
	text-align:left;
}
.align-right {
	text-align:right;
}
.upper-case {
	text-transform:uppercase;
}
.float-left {
	float:left;
}


/********************** end-align-text **************************/
.graph-box {
		width:100%;
		overflow:hidden;
		margin:0px 0px 20px 0px;
}
.graph-box .graph-percent {	
	float:left;
	width:50%;
	vertical-align:bottom;
}
.graph-box .graph-percent h1{
	margin:20px 0px 0px 0px;
	font-size:96px;
	line-height:120px;
}
.graph-box .graph-percent P {
	font-size:18px;
}
.graph-box .graph-chart,
.graph-box .graph-chart .area-column  {
	float:left;
	width:50%;
	padding:3px;
}
.graph-box .graph-chart .area-column .dark-blue {
	height:87px;
	background:#2c3a69;
	border-radius:4px;
}
.graph-box .graph-chart .area-column .light-green {
	height:181px;
	background:#a9cb1f;
	border-radius:4px;
}
.full-image{
    width:100%;
}
/********************** mission-block **************************/
.mission-block {
	background:#a9cb1f;
}
.mission-block h1 {
	color:#fff;
	margin:0;
	text-align:center;
}
.mission-block span {
	padding:40px 15px;
	text-align:center;
	display:block;
	color:#fff;
}
/************* News Page *************/

.news-page h3{
    margin: 30px 0px 10px 0px;
}
.news-page .article-info{
    margin-bottom:10px;
    font-size:14px;
}
.article-info-term{
    font-weight:bold;
}
.news-page .article-info .published{
    margin-left:10px;
    padding-left:20px;
    background-image: url(images/calendar.png);
    background-position:left center;
    background-repeat:no-repeat;
}
/********************** color **************************/
.dark-blue {
	color:#283c76;
}
/************* HOME PAGE SLIDER ***********************/

.home-slider [class^="huge_it_slideshow_image_wrap"],
.home-slider [class*="huge_it_slideshow_image_wrap"], .home-slider [class*="huge_it_slideshow_image_container_"]{   
    width:100% !important;
}

.home-slider [class*="huge_it_slideshow_dots_thumbnails"] {
    top: 88%;
}
.home-slider [class*="huge_it_slideshow_title_text"] {
    background:none !important;
    border-color: #ffffff;
    border-radius: 4px;
    border-style: solid;
    border-width: 0;
    color:inherit;
    display: inline-block;
    font-weight: inherit;
    padding:0;
    position:inherit;
    right: 3%;
    text-align: center;
    text-decoration: none;
    top: 3%;
    width:auto;
    z-index: 11;
    font-size:40px;
    line-height:45px;
}
.home-slider [class*="huge_it_slideshow_description_text"] {
    background: none !important;
    border-color: #ffffff;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    bottom:auto;
    color: #ffffff;
    display: inline-block;   
    padding: 0;
    position: inherit;
    right:auto;
    text-align: center;
    text-decoration: none;
    width: 100%;
    z-index: 11;
    font-size:24px;
    line-height: 30px;
}
.home-slider a.huge-it-slider-link-button {
        bottom: 20%;
        left: 50%;
        position: inherit;
        background-color: #fc5721;
        border: 0 none;
        border-radius: 3px;
        color: #fff;
        display: inline-block;
        font-size: 18px;
        min-width: 160px;
        padding: 15px 25px;
        width: 200px;
        height: auto;
	margin-top:30px;
    }
 .home-slider a.huge-it-slider-link-button:hover{text-decoration: none}
 
 .home-slider .none, .home-slider .hidden{	
    display: none;
 }
 .home-slider .huge_it_slideshow_dots_2{
	 background-color:#fff;
	 height:6px;
	 width:6px;
	 border-radius: 6px;
	 margin: 5px;
 }
 .home-slider .huge_it_slideshow_dots_active_2{
	 height:10px;
	 width:10px;
	 border-radius: 10px;
	 background:none;
	 border:solid 2px #fff;
}
/********************** content-slider ****************/

.slider-area {
	clear:both;
}
ul.content-slider{
	margin:0px;
	padding:0px;
	border:solid 1px red;
	display:table;
	width:100%;
}
.ei-slider li:before{
	display:none;
}
#main .ei-slider li{
	padding:0px;
	margin:0px;
}
/*==CSS By Ravi on 10-06-2015==*/
/*==Home Video CSS==*/
.video-wrapper .mejs-container,
.video-wrapper .mejs-video,
.video-wrapper .mejs-overlay 
.video-wrapper .mejs-layer,
.video-wrapper .mejs-overlay-play{
    width: 100% !important;
    
}


/*====Style for saforian Contact Page===*/

.contact-heading {
	 color: #383838;
     font-family: 'open_sansbold';
    font-size: 30px;
    font-style: normal;
    line-height: 45px;
	margin-bottom: 15px;
}
.wpcf7-form {
	float:left;
}

.cforms-name, .cforms-subject, .cforms-captcha {
    float: left;
    margin-bottom: 25px;
    position: relative;
    width: 47%;
}
.wpcf7-form  p {
    float: left;
    margin: 0;
    position: relative;
    width: 47%;
}
.cforms-email, .cforms-service, .cforms-confirm {
    float: left;
    margin-bottom: 25px;
    margin-left: 30px;
    position: relative;
    width: 47%;
}
.contact-form .bt-contact {
    float: right;
    margin-top: 20px;
    position: relative;
    right: 24px;
    width: 20%;
}
.tp-button.darkgrey {
    background-color: transparent !important;
    background-image: none !important;
    border: 2px solid #242424 !important;
    box-shadow: none !important;
    color: #242424 !important;
    text-shadow: none !important;
}
.cforms-confirm {
    float: left;
    margin-left: 30px;
    margin-top: 25px;
    position: relative;
    width: 26%;
}
.wpcf7-form-control wpcf7-textarea {
    background: #f0f0f0 none repeat scroll 0 0;
    border: 1px solid #fff;
    color: #848889;
    float: left;
    font-family: Arial,sans-serif;
    font-size: 12px;
    height: 100px;
    line-height: 14px;
    margin: 7px 0 !important;
    padding: 15px;
    position: relative;
    transition: all 0.3s ease 0s;
    width: 98%;
}
.contact-form select {
    background: #f0f0f0 none repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 0;
    color: #666;
    float: left;
    font-size: 12px;
    height: 46px;
    margin: 0;
    outline: medium none;
    padding: 10px 18px;
    position: relative;
    right: 0;
    text-transform: uppercase;
    top: 10px;
    vertical-align: top;
    width: 100%;
}
.wpcf7-form-control {
    background: #f0f0f0 none repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 0;
    float: left;
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: normal;
    margin: 10px 0;
    outline: medium none;
    padding: 13px;
    position: relative;
    width: 100%;
}
.wpcf7-form-control:focus, .wpcf7-textarea:focus {
    border: 1px solid #D5D2D2;
    
}
span.wpcf7-form-control-wrap {
    position: relative;
    width: 100%;
}
.cforms-captcha {
    float: left;
    margin-top: 25px;
    position: relative;
    width: 16%;
}
.cforms-captcha .wpcf7-captchar.wpcf7-form-control {
    padding: 13px;
    
}

.cforms-captcha .wpcf7-form-control {
    padding: 0;
}

.cforms-confirm {
    float: left;
    margin-left: 30px;
    margin-top: 25px;
    position: relative;
    width: 26%;
}
.address i {
    font-size: 16px;
    margin-right: 17px;
    padding-bottom: 10px;
    position: relative;
    top: 4px;
}
input[type="submit"].wpcf7-submit {
	background-color: #2c3a69;
	color: #fff;
        padding: 10px;
        max-width: 100%;
        width: 100px;
        margin-top: 30px;
        position: relative;
        right: 20px;
            
}
.contact-form input[type='submit']:hover{
	background-color: #14214a;
	color: #fff;
}
.message-field {
	width: 100% !important;
}

/**
 * 8.0 Media Queries
 * ----------------------------------------------------------------------------
 */

/* Does the same thing as <meta name="viewport" content="width=device-width">,
 * but in the future W3C standard way. -ms- prefix is required for IE10+ to
 * render responsive styling in Windows 8 "snapped" views; IE10+ does not honor
 * the meta tag. See https://core.trac.wordpress.org/ticket/25888.
 */
@-ms-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}

.home-slider img{
    width:100% !important;
	height:auto !important;
}
 
@media (max-width: 1599px) {
    .site {
            border: 0;
    }
    .home-slider img{
        width:100% !important; 
        /*height:inherit !important;*/ 
    }
}

@media (max-width: 1069px) {
	.sidebar img.alignleft,
	.sidebar .wp-caption.alignleft {
		margin-left: 0;
	}

	.sidebar img.alignright,
	.sidebar .wp-caption.alignright {
		margin-right: 0;
	}

	.error404 .page-header {
		margin-left: auto;
		max-width: 604px;
		width: 100%;
	}

	.archive-header,
	.search .page-header,
	.archive .page-header,
	.blog .page-header,
	.error404 .page-content,
	.search .page-content,
	.archive .page-content,
	.attachment .entry-header,
	.attachment .entry-content,
	.post-navigation .nav-links,
	.sidebar .site-info,
	.site-footer .widget-area {
		padding-left: 20px;
		padding-right: 20px;
	}

	.error404 .page-title {
		font-size: 24px;
		padding: 180px;
	}

	.error404 .page-title:before {
		font-size: 554px;
	}

	.attachment .image-navigation {
		max-width: 724px;
	}

	.image-navigation .nav-previous,
	.image-navigation .nav-next {
		position: static;
	}

	.site-main .widget-area {
		margin-right: 60px;
	}
	.box-block h3 {
		margin: 60px 0 0 70px;
	}
	.box-block ul {
    	/*margin: 60px auto;*/
		top:140px;
	}
	.box-block ul li{
		width: 200px;
		height:200px;
	}
	.banner-text{
		padding-top:19%;
	}
	.banner-text.with-button{
		padding-top:14%;
	}
	#main .box-block ul li {
		margin: 0;
		padding: 0 0px;
	}
	.box-block ul li a span{
		padding:0px;
	}
	.big-title{		
		left:5%;
	}
}

@media (max-width: 1024px) {
	.logo-area {
		float: none;
		margin-left: 0px;
		text-align: center;
	}
	ul.nav-menu, div.nav-menu > ul, ul#top-menu {
		display: none;
	}
	.toggled-on .nav-menu, .toggled-on .nav-menu > ul, .toggled-on ul#top-menu{
		display: block;
		margin-left: 0;
		padding: 0;
		width: 100%;
	}
	.menu-toggle{
		display:block;
	}
	.main-navigation .menu-toggle{
		width:100%;
		background-color:#39487b;
		transition: all 0.5s ease-in-out 0s;
		color:#fff;
		border-radius:0px;
	}
	.menu-toggle:hover{
		color:#fff;
		transition: all 0.5s ease-in-out 0s;
		background-color:#fc5721;
	}
	.toggled-on .menu-toggle{
		color:#fff;
		background-color:#fc5721;
	}
	/* Small menu */
	.menu-toggle {
		cursor: pointer;
		display: inline-block;
		font: bold 16px/1.3 "Source Sans Pro", Helvetica, sans-serif;
		margin: 0;
	}
	
	
	.menu-toggle,
	.menu-toggle:hover,
	.menu-toggle:focus,
	.menu-toggle:active {
		background: #2c3a69;
		border: none;
		color: #fff;
		padding: 12px 0 12px 20px;
	}
	button.menu-toggle.active{
		background-color:#fc5721;
	}
	.menu-toggle:focus {
		outline: thin dotted;
		background-color:#2c3a69;
	}

	.menu-toggle:after {
		content: "\f502";
		font-size: 12px;
		padding-left: 8px;
		vertical-align: -4px;
	}

	.toggled-on .menu-toggle:after {
		content: "\f500";
		vertical-align: 2px;
	}
	.top-menu-area{
		display:none;
	}
	.mobile-top-menu{
		float:left;
		width:100%;
	}
	.mobile-top-menu div{
		float:left;
		width:100%;
		height:auto !important;
	}
	#top-menu{
		margin:0px;
		float:left;
		width:100%;
	}
	ul.nav-menu {
		float: right;
		margin: 0px 0px 0 0;
		padding: 0;
	}
	.nav-menu li, #top-menu li{
		float: left;
		width:100%;
        padding: 0;
		margin:0px;
		position:relative;
		border-top:solid 1px #ccc;
	} 
	  
	.nav-menu li a, #top-menu li a{
		padding:11px 10px;
		float:left;
		width:100%;
		font-size:16px;
		color: #1e7fce;
		display:block;
	}	
	
	ul.nav-menu .sub-menu, #top-menu .sub-menu{	
		margin: 0px;
		width:100%;
		overflow: hidden;
	}
        
	ul.nav-menu .sub-menu li a, #top-menu .sub-menu li a {
		margin-left: 0px;
		padding: 10px;
		text-transform: none;
		width: 100%;
		border:0px;
		color:#fff;
	}	
	.arrow{
		position:absolute;
		width:46px;
		height:46px;
		top:1px;
		right:0;
		background-image:url(images/menu-arrow-right.png);
		background-repeat:no-repeat;
		background-position:center center;
		background-color:#39487b;
	}
	.arrow.active{
		background-image:url(images/menu-arrow-down.png);
	}
	.arrow + div.sub-menu-wrapper{
		/*margin-left:-100%;
		transition: all 0.5s ease-in-out 0s;*/
	}	
	.arrow.active + div.sub-menu-wrapper{
		float:left;
		display:block;
		position:relative !important;
		width:100%;
		margin-left:0px;
		transition: all 0.5s ease-in-out 0s;
	}		
	.sub-menu{
		background-color: #2c3a69;
		display: none;
		height: auto;
		position: relative;
		top: 0px;
		left: 0;
		width: 100%;
		z-index: 1000;
     }
	 .sub-menu .sub-menu {
		 background-color:#38487b;
	}
	 .arrow.active + div > ul.sub-menu{
		display:block;
		padding:0px;
	}
	.sub-menu li{
		/*border-bottom:solid 1px #fff;*/
		width:100%;
	}	
	ul.nav-menu .sub-menu .sub-menu li a, #top-menu .sub-menu .sub-menu li a{
		padding:11px 30px;
	}
	
	
	.home-slider .banner-text {
		padding-top: 14%;
	}
	.banner-text .title{
		font-size: 50px;
		font-weight: 200;
		line-height: 60px;
		margin: 0;
		text-transform: uppercase;
		color:#fff;
	}
        .home-slider .banner-text .title{
            font-size: inherit;
            line-height: inherit;
        }
	.box-block ul li div span {		
		height: 200px;
	}
	.box-block ul li div span > a{
		top: -200px;
	}
	.box-block ul li div:hover span > a{
		top: 80px;
	}
	.box-block ul li div span p{
		display:none;
	}
	.detail.active{
		background-color:#39487b;
		top:0;
	}
	.detail.active p{
		display:block;
		padding: 0;
    	top: 50px;
		font-size:14px;
		line-height:16px;
		position:relative;
	}
	.detail.active a{
		top: 10px;
	
	}
	
          
}
@media (max-width: 999px) {
	.sidebar .entry-header,
	.sidebar .entry-content,
	.sidebar .entry-summary,
	.sidebar .entry-meta,
	.sidebar .comment-list,
	.sidebar .comment-reply-title,
	.sidebar .comment-navigation,
	.sidebar .comment-respond .comment-form,
	.sidebar .featured-gallery,
	.sidebar .post-navigation .nav-links,
	.author.sidebar .author-info {
		max-width: 604px;
		padding-left: 0;
		padding-right: 0;
	}

	.sidebar .site-info,
	.search.sidebar .page-content,
	.blog.sidebar .page-content,
	.attachment .entry-header,
	.sidebar .comments-title {
		max-width: 604px;
	}

	.sidebar .archive-meta,
	.attachment .entry-header,
	.search.sidebar .page-content,
	.blog.sidebar .page-content,
	.sidebar .site-info,
	.sidebar .comments-title,
	.sidebar .no-comments {
		padding-left: 0;
		padding-right: 0;
	}

	.attachment .entry-meta {
		float: left;
		text-align: left;
		width: 100%;
	}

	.attachment .entry-content {
		max-width: 100%;
		padding: 40px 0;
	}

	.format-status .entry-content {
		padding-top: 40px;
	}

	.format-status .entry-meta {
		padding-bottom: 40px;
	}

	.sidebar .format-status .entry-content,
	.sidebar .format-status .entry-meta {
		padding-left: 35px;
	}

	.sidebar .format-status .entry-content:before,
	.sidebar .format-status .entry-meta:before {
		left: 10px;
	}

	.sidebar .format-status .entry-content p:first-child:before {
		left: 4px;
	}

	.sidebar .paging-navigation .nav-links {
		padding: 0 60px;
	}

	.site-main .sidebar-container {
		height: auto;
		margin: 0 auto;
		max-width: 604px;
		position: relative;
		top: 20px;
	}

	.site-main .widget-area {
		float: none;
		margin: 0;
		width: 100%;
	}

	.sidebar .site-footer .widget-area {
		max-width: 100%;
		left: 0;
	}
	.navbar {
		background-color: hsl(0, 0%, 100%);
		margin: 0 auto;
		max-width: 1920px;
		/*padding: 0px 15px;*/
	}
	
	.logo-area {    
    	margin-left: 10px;
	}
	.top-menu-area {
		margin-right: 10px;
	}
	
	/*ul.nav-menu li a{
		font-size:17px;
	}*/
	.footer-top-container h2 {
		margin: 0;
		text-align: center;
	}
	.newsletter-area{
		text-align:center;
		float:none;
		height:40px;
		margin:20px auto 0 auto;
	}
	.links-block ul li {
		float:left;
		width:50%;
	}
	.gallery-block ul li{
		width:50%;
		padding:1px;
	}
	.gallery-block ul li:nth-child(4n),
	.gallery-block ul li:nth-child(5n),
	.gallery-block ul li:nth-child(5n),
	.gallery-block ul li:nth-child(6n) {
		width:50%;
		margin:0px;
	}
	
	.box-block h3 {
		margin: 40px 0 0 70px;
	}
	.box-block ul {
		top:80px;
    	/*margin: 40px auto;*/
	}
	.box-block ul li{
		width: 180px;
		height:180px;
	}
	.banner-text{
		padding-top:17%;
	}
	.banner-text.with-button{
		padding-top:10%;
	}
	.twitter-block .twitter-content{
		margin-bottom:20px;
	}
	.big-title{
		top:30%;
		font-size:100px;
		left:5%;
	}
	.result-block ul li{
		width:50%;
	}
	.links-block ul li {
		float:left;
		width:50%;
	}
	#main .gallery-block ul li{
		width:33.3333%;
		padding:1px;
	}
	#main .gallery-block ul li:nth-child(4n),
	#main .gallery-block ul li:nth-child(5n),
	#main .gallery-block ul li:nth-child(5n),
	#main .gallery-block ul li:nth-child(6n) {
		width:33.3333%;
		margin:0px;
	}	
}


@media (max-width: 767px) {
	.site-banner .home-link {
		min-height: 0;
	}
	.site-title {
		font-size: 36px;
		padding: 8px 0 10px;
	}
	.entry-content img.alignleft,
	.entry-content .wp-caption.alignleft {
		margin-left: 0;
	}

	.entry-content img.alignright,
	.entry-content .wp-caption.alignright {
		margin-right: 0;
	}

	.attachment .image-navigation,
	.attachment .entry-attachment .attachment {
		max-width: 604px;
		padding: 0;
		width: 100%;
	}

	.gallery-caption {
		display: none;
	}
	.box-block h3 {
		margin: 60px 0 0 70px;
	}
	
        .box-block ul {
		top:80px;
		left:10%;
		/*margin: 30px 70px;
		position: inherit;
		text-align: left;
		width: 100%;
		float:left;*/
	}
	#main .box-block ul li{
		width:300px;		
		height:auto;
		clear:both;
		float:left;		
		/*display:block;*/		
		margin: 5px 0px;
	}
	.box-block ul.no-heading{
		top:40px;
	}
	.box-block ul li h3{
		padding:10px;
		display:block;
	}
	.box-block ul li a{
		display:block;
		text-align:left;
	}
	.box-block ul li div span {		
		height: auto;
	}
	.box-block ul li div span, .box-block ul li div span a, .box-block ul li div:hover span, .box-block ul li div:hover span a{
		transform: translate3d(0px, 0%, 0px);
		padding: 0;
		position:relative;
		background:none;
		top:0;
	}
	.banner-text {
		padding: 16% 0;
	}
	.banner-text.with-button{
		padding-top:8%;
	}
	.big-title{
		top:20%;
		font-size:70px;
		left:5%;
		line-height: 70px;
	}
	.top-menu li {
		margin-left:10px;
	}
	.client-name {
		margin-top:2%;
	}
	.box-block ul li a span{
		display:none;
	}
	.home-slider .banner-text {
		padding-top: 10%;
	}
	.top-menu-area .navbar-header {
            display: block;
			text-align: center;
	}
	.navbar-collapse {
		height: 0;
		overflow: hidden;
	}
	.navbar-collapse.in {
		overflow: visible;
		height: auto;
	}
	.top-menu-area {
		margin-top: 10px;
		margin-bottom: 20px;
	}
	
	.top-menu-area .nav li {
		width: 100%;
		margin-left: 0;
	}
	.top-menu-area .nav ul {
		position: relative;
		top: 0px;
		width: 100%;
	}
	.top-menu-area .nav li:last-child ul {
		left: 0;
	}
	.top-menu-area .nav li:hover .sub-menu .sub-menu {
		left: 10px;
	}
	.top-menu-area .nav {
		float: left;
	}
	.top-menu-area .nav .sub-menu {
		overflow: hidden;
	}
	#value-creation .full-image, #growth-drivers .full-image{
		display:none;
	}
	#growth-drivers h3{
		color:#2c3a69;
		margin:0;
		text-align:center;
	}
	#value-creation .full-image-area .box-block, #value-creation .full-image-area .box-block ul,
	#growth-drivers .full-image-area .box-block, #growth-drivers .full-image-area .box-block ul{
		position:relative;
		top:0;
		left:0;
		width:auto;
	}
	#main .full-image-area .box-block ul li div{
		display:block;
	}
	#main .full-image-area .box-block ul li{
		float:none;		
	}
	#main .full-image-area .box-block ul li a{
		text-align:center;
	}
	.detail.active{
		background:none;
	}
	.detail.active p {
		padding-top:15px;
		top:0px;
	}
	.intro-banner{		
		padding:20px 15px;		
	}
	.ei-slider .scroll-arrow {
		top: 120px;
		position: absolute;
		z-index: 99;
		padding:0px;
		height:22px;
		width:18px;
		background-image:url(images/arrow-down-scroll.png);
		background-repeat:no-repeat;
		right:10px;
	}
}

@media (max-width: 643px) {
	.site-title {
		font-size: 30px;
	}

	#content .entry-header,
	#content .entry-content,
	#content .entry-summary,
	#content footer.entry-meta,
	#content .featured-gallery,
	.search.sidebar .page-content,
	.blog.sidebar .page-content,
	.sidebar .post-navigation .nav-links,
	.paging-navigation .nav-links,
	#content .author-info,
	.comments-area .comments-title,
	.comments-area .comment-list,
	.comments-area .comment-navigation,
	.comment-respond,
	.sidebar .site-info,
	.sidebar .paging-navigation .nav-links {
		padding-left: 20px;
		padding-right: 20px;
	}

	#content .format-status .entry-content,
	#content .format-status .entry-met {
		padding-left: 35px;
	}

	

	/*.toggled-on .nav-menu,
	.toggled-on .nav-menu > ul {
		display: block;
		margin-left: 0;
		padding: 0;
		width: 100%;
	}

	.toggled-on li,
	.toggled-on .children {
		display: block;
	}

	.toggled-on .nav-menu li > ul {
		background-color: transparent;
		display: block;
		float: none;
		margin-left: 20px;
		position: relative;
		left: auto;
		top: auto;
	}

	.toggled-on .nav-menu li > ul a {
		color: #141412;
		width: auto;
	}

	.toggled-on .nav-menu li:hover > a,
	.toggled-on .nav-menu .children a {
		background-color: transparent;
		color: #141412;
	}

	.toggled-on .nav-menu > li a:hover,
	.toggled-on .nav-menu > ul a:hover {
		background-color: #fc5721;
		color: #fff;
	}

	.toggled-on .nav-menu > li a:focus,
	.toggled-on .nav-menu > ul a:focus {
		background-color: #220e10;
		color: #fff;
	}*/

	ul.nav-menu,
	div.nav-menu > ul {
		display: none;
	}

	#content .featured-gallery {
		padding-left: 24px;
	}

	.gallery-columns-1 .gallery-item {
		margin-right: 0;
		width: 100%;
	}

	.entry-title,
	.format-chat .entry-title,
	.format-image .entry-title,
	.format-gallery .entry-title,
	.format-video .entry-title {
		font-size: 22px;
		font-weight: bold;
	}

	.format-quote blockquote,
	.format-status .entry-content {
		font-size: 18px;
	}

	.format-quote blockquote small,
	.format-quote blockquote cite {
		font-size: 13px;
	}

	.error404 .page-title {
		padding: 40px 0 0;
	}

	.error404 .page-title:before {
		content: normal;
	}

	.comment-author {
		margin-right: 30px;
	}

	.comment-author .avatar {
		height: auto;
		max-width: 100%;
	}

	.comment-metadata,
	.comment-content,
	.comment-list .reply {
		width: 70%;
		width: -webkit-calc(100% - 104px);
		width:         calc(100% - 104px);
	}

	.comment-form input[type="text"],
	.comment-form input[type="email"],
	.comment-form input[type="url"] {
		width: -webkit-calc(100% - 120px);
		width:         calc(100% - 120px);
	}

	.comment-form textarea {
		height: 80px; /* Smaller field for mobile. */
	}

	/* Audio */
	.format-audio .entry-content:before {
		display: none;
	}

	.format-audio .audio-content {
		background-image: none;
		float: none;
		padding-left: 0;
		width: auto;
	}	
	.logo-area {    
    	margin: 0px auto;
		float:none;
		text-align:center;
	}
	.mobile-hidden{
		display:none;
	}
       
	.top-menu-area{
		width: 100%
	}	
	ul.nav-menu li:hover > div.sub-menu-wrapper{
		/*position:relative;
		min-height:inherit;
		float:left;*/
	}
	
	.links-block ul li {
		float:left;
		width:50%;
	}
	.gallery-block ul li{
		width:50%;
		padding:1px;
	}
	.gallery-block ul li:nth-child(4n),
	.gallery-block ul li:nth-child(5n),
	.gallery-block ul li:nth-child(5n),
	.gallery-block ul li:nth-child(6n) {
		width:50%;
		margin:0px;
	}
	.banner-text {
		padding: 16% 0;
	}
	.banner-text h1.title {
		font-size: 50px;
		line-height: 65px;
	}
	.result-block ul li{
		width:100%;
		border-bottom: 1px solid hsl(195, 17%, 91%);
	}
	
	.home-slider.full-image-area{
		min-height:auto;
	}
	.home-slider .banner-text {
		padding-top: 12%;
	}
	.home-slider .banner-text span {
		font-size: 22px;
	}
	
}

@media (max-width: 480px) {
	.heading-block span {
		padding:0px 40px 20px 40px;
	}
	.views-block p {
		padding: 0 50px;
	}
	.links-block ul li {
		width:100%;
	}
	.gallery-block ul li{
		width:50%;
		padding:1px;
	}
	.gallery-block ul li:nth-child(4n),
	.gallery-block ul li:nth-child(5n),
	.gallery-block ul li:nth-child(5n),
	.gallery-block ul li:nth-child(6n) {
		width:50%;
		margin:0px;
	}
	
	.full-image-area {
    	/*min-height: 300px;*/
	}	
	.full-image-area .full-image img {
		/*margin-left:-50%;
    	max-width: 170%;*/
		width: auto;
	}
	.big-title{
		top:20%;
		font-size:40px;
		left:5%;
		line-height: 40px;
	}
	.banner-text {
		/*padding: 30% 0;*/
	}
	.banner-text h1.title {
		font-size: 45px;
		line-height: 55px;
	}
	.home-slider .banner-text {
		padding-top: 10%;
	}
	.home-slider .banner-text span {
		font-size: 22px;
	}
        /*==CSS By Ravi on 10-06-2015==*/
	.home-slider .banner-text .title{
		font-size: 18px;
		line-height: 20px;		
	}
        .home-slider a.huge-it-slider-link-button {
            bottom: 20%;
            left: 50%;
            padding: 7px 15px;
            width: 160px;
            margin-top:10px;
        }
        .home-slider [class*="huge_it_slideshow_dots_thumbnails"] {
            top: 80%;
        }
        #main .parallax {
            padding: 25px 0px;
            font-size: 100%;
        }
}

/* Mobile devices */
@media (max-width: 359px) {
	.site-title {
		font-weight: normal;
	}
	.site-description {
	    clip: rect(1px, 1px, 1px, 1px);
	    position: absolute;
	}
	.gallery {
		margin-left: 0;
	}

	.gallery .gallery-item,
	.gallery-columns-2.gallery-size-thumbnail .gallery-item {
		max-width: none;
		width: 49%;
		width: -webkit-calc(50% - 4px);
		width:         calc(50% - 4px);
	}

	.gallery-columns-1.gallery-size-medium,
	.gallery-columns-1.gallery-size-thumbnail,
	.gallery-columns-2.gallery-size-thumbnail,
	.gallery-columns-3.gallery-size-thumbnail {
		display: block;
	}

	.gallery-columns-1 .gallery-item,
	.gallery-columns-1.gallery-size-medium .gallery-item,
	.gallery-columns-1.gallery-size-thumbnail .gallery-item {
		text-align: center;
		width: 98%;
		width: -webkit-calc(100% - 4px);
		width:         calc(100% - 4px);
	}

	.gallery-columns-3 .gallery-item:nth-of-type(3n),
	.gallery-columns-5 .gallery-item:nth-of-type(5n),
	.gallery-columns-7 .gallery-item:nth-of-type(7n),
	.gallery-columns-9 .gallery-item:nth-of-type(9n) {
		margin-right: 4px;
	}

	.gallery br {
		display: none;
	}

	.gallery .gallery-item:nth-of-type(even) {
		margin-right: 0;
	}

	/* Comments */
	.comment-author {
		margin: 0 0 5px;
		max-width: 100%;
	}

	.comment-author .avatar {
		display: inline;
		margin: 0 5px 0 0;
		max-width: 20px;
	}

	.comment-metadata,
	.comment-content,
	.comment-list .reply {
		width: 100%;
	}
	
	.full-image-area .full-image img {
		/*margin-left:-20%;
    	max-width: 200%;*/
		width: auto;
		
	}
	.box-block h3 {
		margin: 40px 10px;
	}
	.box-block ul {
		margin: 0px 10px;
		left:0px;
	}
	.banner-text h1.title {
		font-size: 40px;
		line-height: 55px;
	}
        .home-slider .banner-text {
		padding-top: 4%;
	}
        .home-slider [class*="huge_it_slideshow_dots_thumbnails"] {
            top: 78%;
        }
}


/**
 * 9.0 Print
 * ----------------------------------------------------------------------------
 */

/* Retina-specific styles. */
@media print,
	(-o-min-device-pixel-ratio: 5/4),
	(-webkit-min-device-pixel-ratio: 1.25),
	(min-resolution: 120dpi) {

	.site-banner .search-field {
		background-image: url(images/search-icon-2x.png);
	}

	.format-audio .audio-content,
	.format-status .entry-content:before,
	.format-status .entry-meta:before,
	.comment-list > li:after,
	.comment-list .children > li:before {
		background-image: url(images/dotted-line-2x.png);
	}
}

@media print {
	body {
		background: none !important;
		color: #000;
		font-size: 10pt;
	}

	footer a[rel="bookmark"]:link:after,
	footer a[rel="bookmark"]:visited:after {
		content: " [" attr(href) "] "; /* Show URLs */
	}

	.site {
		max-width: 98%;
	}

	.site-banner {
		background-image: none !important;
	}

	.site-banner .home-link {
		max-width: none;
		min-height: 0;
	}

	.site-title {
		color: #000;
		font-size: 21pt;
	}

	.site-description {
		font-size: 10pt;
	}

	.author-avatar,
	.site-footer,
	.comment-respond,
	.comments-area .comment-edit-link,
	.comments-area .reply,
	.comments-link,
	.entry-meta .edit-link,
	.page-links,
	.site-content nav,
	.widget-area,
	.main-navigation,
	.navbar,
	.more-link {
		display: none;
	}

	.entry-header,
	.entry-content,
	.entry-summary,
	.entry-meta {
		margin: 0;
		width: 100%;
	}

	.page-title,
	.entry-title {
		font-size: 21pt;
	}

	.entry-meta,
	.entry-meta a {
		color: #444;
		font-size: 10pt;
	}

	.entry-content img.alignleft,
	.entry-content .wp-caption.alignleft {
		margin-left: 0;
	}

	.entry-content img.alignright,
	.entry-content .wp-caption.alignright {
		margin-right: 0;
	}

	.format-image .entry-content .size-full {
		margin: 0;
	}

	/* Remove colors from post formats */
	.hentry {
		background-color: #fff;
	}

	/* Comments */
	.comments-area > li.comment {
		background: none;
		position: relative;
		width: auto;
	}

	.comment-metadata {
		float: none;
	}

	.comment-author .fn,
	.comment-reply-link,
	.comment-reply-login {
		color: #333;
	}
}
/*--------------------- Journey slider -----------------*/
@media (min-width: 768px) {
	#main .journey-block-slider .container{
            max-width:none
	}
	.journey-block-slider .container, .journey-block-slider .container .span12{
		width: 100%;
		margin:0px;
		padding:0px;
	}
	.journey-block-slider .owl-carousel {
		position: relative;
		width: 100%;
		overflow:hidden;
	}
	.journey-block-slider .owl-carousel .owl-stage-outer {
		overflow: hidden;
		position: relative;
		width: 112%;
		left:-12%;
		
	}
                
}

.journey-block-slider #journey-slider .item{
	margin:0px 0px;
	padding:0px 0px;
	font-size:14px;
}
.journey-block-slider .item .image-holder{
	width:88%;
	margin:0px 6%;
	padding:0px;
	background-color:#000;
}

.journey-block-slider .timeline{
	border-bottom:solid 2px #2c3a69;
	height:16px;
	text-align:center;
	margin:10px 0px 15px 0px;
}

.journey-block-slider .timeline span{
	background:#fff;
	width:16px;
	height:16px;
	border:solid 3px #a9cb1f;
	display:inline-block;
	margin-bottom:-8px;
	border-radius:50%;
}
.journey-block-slider h3{
	text-align:center;
	color: #a9cb1f;
}
.journey-block-slider h5, .journey-block-slider p{
	padding:0 6%;
	text-align: left;
}
.journey-block-slider .owl-theme .owl-controls .owl-nav [class*="owl-"]{
    background:none;
    color:#fff;
    font-size: 30px;
}
.social-block .sfmsb-follow-social-buttons a{
	float:none;
	display:inline;
}
/***************** MAP STYLE *************/

#main #iwm_map_canvas ul li:before{
    display:none;
}
#iwm_map_canvas ul img{
    max-width:250px;
    height:auto;
}
