<?php
get_header();
?>
<div class="row row-block">
    <div class="container">
        <div id="primary" class="site-content cma-content">
            <div class="cma-main">
                <div class="cma-wrapper">
                    <div id="content" role="main" class="entry-content">
                        <h1 class="entry-title">
                            <?php _e('All Questions', 'cm-answers'); ?>
                        </h1>
                        <div style="clear:both;height:15px;"></div>
                        <?php
                        $currentSort = !empty($_GET['sort']) ? $_GET['sort'] : 'newest';
                        if (!ctype_alnum($currentSort)) $currentSort = 'newest';
                        ?>
                        <ul class="cma-thread-orderby">
                            <li<?php if( $currentSort == 'newest' ): ?> class="cma-current-sort"<?php endif; ?>><a href="<?php echo esc_attr(add_query_arg(array('sort' => 'newest'), get_pagenum_link(0))); ?>"><?php _e('Newest', 'cm-answers'); ?></a></li>
                            <li<?php if( $currentSort == 'hottest' ): ?> class="cma-current-sort"<?php endif; ?>><a href="<?php echo esc_attr(add_query_arg(array('sort' => 'hottest'), get_pagenum_link(0))); ?>"><?php _e('Hottest', 'cm-answers'); ?></a></li>
                            <?php if( CMA_AnswerThread::isRatingAllowed() ): ?><li<?php if( $currentSort == 'votes' ): ?> class="cma-current-sort"<?php endif; ?>><a href="<?php echo esc_attr(add_query_arg(array('sort' => 'votes'), get_pagenum_link(0))); ?>"><?php _e('Most votes', 'cm-answers'); ?></a></li><?php endif; ?>
                            <li<?php if( $currentSort == 'views' ): ?> class="cma-current-sort"<?php endif; ?>><a href="<?php echo esc_attr(add_query_arg(array('sort' => 'views'), get_pagenum_link(0))); ?>"><?php _e('Most views', 'cm-answers'); ?></a></li>
                        </ul>
                        <div class="cma-clear"></div>
                <?php
                do_action('CMA_show_messages');
                if( have_posts() ):
                    ?>
                    <table class="cma-thread-list">
                        <?php
                        while(have_posts()):
                            the_post();
                            $thread = CMA_AnswerThread::getInstance($post->ID);
                            ?>
                            <tr><?php if( CMA_AnswerThread::isRatingAllowed() ): ?><td class="cma-thread-meta">
                                        <div class="cma-thread-numbers cma-thread-votes"><div class="cma-thread-numbers-count cma-thread-votes-count"><?php
                                                $votes = $thread->getVotes();
                                                echo $votes;
                                                ?></div><div class="cma-thread-numbers-caption cma-thread-votes-caption"><?php
                                                if( $votes == 1 ) _e('vote', 'cm-answers');
                                                else _e('votes', 'cm-answers');
                                                ?></div></div></td><?php endif; ?>
                                <td class="cma-thread-meta"><div class="cma-thread-numbers cma-thread-views"><div class="cma-thread-numbers-count cma-thread-views-count"><?php
                                            $views = $thread->getViews();
                                            echo $views;
                                            ?></div><div class="cma-thread-numbers-caption cma-thread-views-caption"><?php
                                            if( $views == 1 ) _e('view', 'cm-answers');
                                            else _e('views', 'cm-answers');
                                            ?></div></div></td>
                                    <?php $numberOfAnswers = $thread->getNumberOfAnswers(); ?>
                                <td class="cma-thread-meta"><div class="cma-thread-numbers cma-thread-answers<?php
                                	if( $numberOfAnswers == 0 ): ?> cma-thread-no-answers<?php endif; ?>">
                                	<div class="cma-thread-numbers-count cma-thread-answers-count"><?php echo $numberOfAnswers; ?></div>
                                	<div class="cma-thread-numbers-caption cma-thread-answers-caption"><?php
                                            if( $numberOfAnswers == 1 ) _e('answer', 'cm-answers');
                                            else _e('answers', 'cm-answers');
                                            ?></div></div>
                                </td>
                                <td class="cma-thread-summary">
                                    <div class="cma-thread-title"><a href="<?php echo esc_attr(get_permalink($post->ID)); ?>"><?php echo $thread->getTitle(); ?></a></div>
                                    <div class="cma-thread-updated"><?php printf(__('updated %s by %s', 'cm-answers'),
                                    	CMA_AnswerThread::renderDaysAgo($thread->getUnixUpdated()), $thread->getLastPosterName()); ?></div>
                                </td>
                            </tr>
                            <?php
                        endwhile;
                        ?>
                    </table>
                    <div class="w3eden cma-pagination"><?php
                        echo "<div class='text-center'>".str_replace("<ul class='page-numbers'>","<ul class='page-numbers pagination pagination-centered'>",paginate_links(array(
                            'base'     => trailingslashit(get_post_type_archive_link(CMA_AnswerThread::POST_TYPE)) . '%_%',
                            'format'   => 'page/%#%/',
                            'current'  => max(1, get_query_var('paged')),
                            'type' => 'list',
                            'prev_next'    => true,
                            'prev_text' => '<i class="icon icon-angle-left"></i> &laquo; Previous',
                            'next_text' => 'Next &raquo; <i class="icon icon-angle-right"></i>',
                            'total'    => $GLOBALS['wp_query']->max_num_pages,
                            'add_args' => $currentSort != 'newest' ? array('sort' => $currentSort) : array()
                        )))."</div>";
                        ?></div><?php
                endif;
                ?>
                <div class="cma-form-container">
                    <?php if( is_user_logged_in() ): ?>
                        <div style="clear:both;height:40px;"></div>
                        <form method="post" class="cma-thread-add" id="cma-thread-add" enctype="multipart/form-data">
                            <input type="hidden" name="cma-action" value="add" />
                            <input type="hidden" name="nonce" value="<?php echo esc_attr(wp_create_nonce('cma_question')); ?>" />
                            <h3><?php _e('Ask a Question', 'cm-answers'); ?></h3>
                            <div style="clear:both;height:10px;"></div>
                            <ul class="cma-form-notes">
                                <li><?php _e('Allow markup', 'cm-answers'); ?>: &lt;strong&gt;, &lt;em&gt;, &lt;a&gt;</li>
                                <li><?php _e('Wrap your code using', 'cm-answers'); ?> &lt;pre&gt;&lt;/pre&gt;</li>
                            </ul>
                            <input type="text" size="50" name="thread_title" placeholder="<?php _e('Question Title', 'cm-answers'); ?>" /><br />
                            <textarea name="thread_comment" cols="50" rows="3" placeholder="<?php _e('What is your Question about?', 'cm-answers'); ?>"></textarea><br />
                            <div style="clear:both;height:5px;"></div>
                            <label><?php _e('Add Attachment : ', 'cm-answers'); ?></label>
                            <input type="file" size="50" name="thread_attachment[]" multiple="true"/><br />
                            <div style="clear:both;height:5px;"></div>
                            <label>
                                <input name="thread_notify" type="checkbox" value="1"/>
                                <?php _e('Notify me of follow', 'cm-answers'); ?></label><br />
                            <div style="clear:both;height:10px;"></div>
                            
                            <input type="submit" value="<?php _e('Add Question', 'cm-answers'); ?>" />
                        </form>
                        <?php
                    else:
                        //do_action('CMA_login_form');
                    ?>
                        <div class="cma-login cma-login-conatainer">
                                <?php _e('Please log in to post questions/answers', 'cm-answers'); ?>:<br />
                                <div class="cma-login-wp">
                                <?php echo do_shortcode('[wppb-login]');
                                if(!is_user_logged_in()){
                                    echo '<a title="Password Lost and Found." href="'.site_url().'/wp-login.php?action=lostpassword">Lost your password?</a>';
                                }?>
                            </div>
                        </div>
                    <?php endif;
                    ?>
                </div>
            </div>
        </div>
        <?php if( CMA_AnswerThread::isSidebarEnabled() && is_active_sidebar('cm-answers-sidebar') ): ?>
            <?php
            $maxWidth = CMA_AnswerThread::getSidebarMaxWidth() > 0 ? 'style="max-width:' . $maxWidth . 'px"' : '';
            ?>
            <div id="secondary" role="complementary" class="widget-area cma-sidebar" <?php echo $maxWidth; ?>>
                <?php dynamic_sidebar('cm-answers-sidebar'); ?>
            </div>
        <?php endif; ?>
    </div>
</div>
    </div>
</div>
<style type="text/css">
    .cma-wrapper li:before{
        display:none;
    }
    input[type="submit"]{
           background: #333 none repeat scroll 0 0;
           float: none;
           max-width: 20%;
           padding: 6px 30px;
    }
    /*.cma-pagination .pagination {
        border: none;
        border-radius: 4px;
        display: inline-block;
        margin: 20px 0;
        padding-left: 0;
    }
    .cma-pagination .pagination > li > a, .cma-pagination .pagination > li > span {
        background-color: #fff;
        border: 1px solid #ddd;
        color: #428bca;
        float: left;
        line-height: 1.42857;
        margin-left: -1px;
        padding: 6px 12px;
        position: relative;
        text-decoration: none;
    }
    .pagination li{display: inline}
    .cma-pagination .pagination > li > span.current {
        background-color: #428bca;
        border-color: #428bca;
        color: #fff;
        cursor: default;
        z-index: 2;
    }
    .cma-pagination .page-numbers {
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
    .cma-pagination .pagination > li:last-child > a, .cma-pagination .pagination > li:last-child > span {
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
    }*/
</style>
<?php
get_footer();
