<?php

global $wp;
$wp_query = CMA_AnswerController::$query;

// ----------------------------------------------------------------------------------------
// If AJAX request - restore some params
if ($widgetOptions = CMA_AnswerController::restoreWidgetOptions()) {
	if (!empty($widgetOptions['displayOptions'])) $displayOptions = $widgetOptions['displayOptions'];
}

if (empty($displayOptions) OR !is_array($displayOptions)) $displayOptions = array();
// if (empty($questions)) {
// 	$questions = array_filter(array_map(function($post) {
// 		return CMA_Thread::getInstance($post->ID);
// 	}, $wp_query->posts));
// }

// -----------------------------------------------------------------------------------------

$current_url = home_url(add_query_arg(array(), $wp->request), 'relative');
if (empty($questionLinkQuery)) $questionLinkQuery = array();
if (isset($wp_query->queried_object) AND isset($wp_query->queried_object->term_id)) {
	$currentCategoryId = $wp_query->queried_object->term_id;
}
else if (!empty($category)) {
	$currentCategoryId = $category->getId();
} else {
	$currentCategoryId = null;
}
if (empty($currentCategoryId) AND !empty($cat)) {
	$categorySlug = explode(',', $cat);
	if ($category = new CMA_Category(get_term_by('slug', $categorySlug[0], CMA_Category::TAXONOMY))) {
		$currentCategoryId = $category->getId();
	}
}
if ($currentCategoryId) {
	$category = CMA_Category::getInstance($currentCategoryId);
}
$paginationArguments = compact('maxNumPages');
if (!empty($widget)) $paginationArguments['paged'] = 0;
$dataPagination = json_encode($paginationArguments);
$paginationArguments = isset($paginationArguments) ? array_merge($paginationArguments, $_GET) : array();
$paginationArguments['search'] = isset($_GET['search']) ? $_GET['search'] : '';
$paginationArguments['widgetCacheId'] = (!empty($widgetCacheId) ? $widgetCacheId : (!empty($_GET['widgetCacheId']) ? $_GET['widgetCacheId'] : null));

$paginationBase = (empty($category) ? get_post_type_archive_link(CMA_Thread::POST_TYPE) : $category->getPermalink());
$currentPage = $wp_query->get('paged');
$permalink = add_query_arg(urlencode_deep(array_filter($paginationArguments)), trailingslashit(trailingslashit($paginationBase) . ($currentPage ? 'page/'. $currentPage : '')));

?>

<div class="cma-questions-widget<?php if (is_main_query()) echo ' cma-main-query'; ?>" data-permalink="<?php
	echo esc_attr($permalink); ?>" data-backlink="<?php echo esc_attr(base64_encode($permalink)); ?>">

<?php do_action('cma_flash_messages'); ?>
	
<?php if (!empty($displayOptions['navbar'])): ?>
	<?php include dirname(__FILE__) . '/../nav/nav-bar.phtml'; ?>
<?php endif; ?>

<div class="cma-questions-container cma-container <?php if (isset($displayOptions['wrapperclass'])) echo $displayOptions['wrapperclass'];
?>" data-pagination='<?php echo esc_attr($dataPagination); ?>'>

	<?php if( $displayOptions['form'] AND $displayOptions['formontop'] ) :
		 // CMA-QuestionForm
		 // - Question form if the user is logged in
		 // - Login form if the user is not logged in
		echo CMA_BaseController::_loadView('answer/widget/question-form', compact('post', 'thread', 'catId'));
	endif; ?>

	<?php if( isset($_GET["sort"]) || isset($_GET["cmatag"]) || isset($_GET["sort"]) || isset($_GET["search"]) AND empty($widget)) : ?>
		<a class="cma-backlink cma-backlink-ajaxtag" href="<?php echo esc_attr(CMA::getReferer()) ?>">&laquo; <?php echo CMA_Labels::getLocalized('back_full_questions_list') ?></a>
	<?php endif; ?>
	
	<?php if( $displayOptions['search'] ): ?>
		<div class="cma-thread-search">
			<form method="GET" action="<?php echo esc_attr(get_post_Type_archive_link(CMA_Thread::POST_TYPE)) ?>" id="cma-ajax-search">
				<input type="text" name="search" id="cma-ajax-search-term" placeholder="<?php
					echo esc_attr(CMA_Labels::getLocalized('search_questions')); ?>" value="<?php echo esc_attr($wp_query->get('search')); ?>"/>
				<input type="submit" value="&gt;" class="cma-ajax-search" />
			</form>
		</div>
	<?php endif; ?>

	<?php if( !$displayOptions['hideQuestions'] ): ?>
	
		<?php if (!empty($displayOptions['sortbar'])): ?>
			<?php include dirname(__FILE__) . '/../nav/sort-bar.phtml'; ?>
		<?php endif; ?>
	
		<?php do_action('CMA_questions_table_before'); ?>
	
		<?php if (!empty($questions)): ?>
			<table class="cma-thread-list<?php
				if (CMA_Settings::getOption(CMA_Settings::OPTION_INDEX_NUMBERS_VERTICALLY)) echo ' numbers-vertically';
				if ($displayOptions['resolvedPrefix']) echo ' display-resolved-prefix';
				if ($displayOptions['icons']) echo ' display-icons';
			?>">
				<thead>
					<tr>
						<?php if ($displayOptions['votes'] OR $displayOptions['views'] OR $displayOptions['answers'] OR !empty($displayOptions['statusinfo'])): ?>
							<th>
								<?php if( $displayOptions['votes'] ): ?>
									<div><?php echo CMA_Labels::getLocalized('votes_col'); ?></div>
								<?php endif; ?>
			
								<?php if( $displayOptions['answers'] ): ?>
									<div><?php echo CMA_Labels::getLocalized('answers_header'); ?></div>
								<?php endif ?>
								
								<?php if( $displayOptions['views'] ): ?>
									<div><?php echo CMA_Labels::getLocalized('views_col'); ?></div>
								<?php endif ?>
			
								<?php if( !empty($displayOptions['statusinfo']) ): ?>
									<div><?php echo CMA_Labels::getLocalized('status_col'); ?></div>
								<?php endif; ?>
							</th>
						<?php endif; ?>
	
						<th style="text-align:left;"><?php echo CMA_Labels::getLocalized('Question'); ?></th>
					</tr>
				</thead>
	
				<tbody>
				<?php foreach($questions as $thread): ?>
	
					<?php
					$numberOfAnswers = (CMA_Settings::getOption(CMA_Settings::OPTION_VOTES_NO) && $thread->getNumberOfAnswers() == 0) ? CMA::__('no') : $thread->getNumberOfAnswers();
					$additionalThreadClass = $thread->isSticky() ? 'cma_sticky_background' : '';
					$additionalThreadClass .= ' '. ($thread->getNumberOfAnswers() > 0 ? 'answered' : 'unanswered');
					$additionalThreadClass .= ' '. ($thread->isResolved() ? 'resolved' : '');
					
					?>
	
					<tr class="cma-thread-list-row <?php echo esc_attr($additionalThreadClass); ?>">
	
						<?php if ($displayOptions['votes'] OR $displayOptions['views'] OR $displayOptions['answers'] OR !empty($displayOptions['statusinfo'])): ?>
							<td class="cma-thread-meta">
								<div class="cma-thread-meta-div">
									<?php if( $displayOptions['votes'] ): ?>
										<div class="cma-thread-numbers cma-thread-votes">
											<div class="cma-thread-numbers-count cma-thread-votes-count"><?php
												echo (CMA_Settings::getOption(CMA_Settings::OPTION_VOTES_NO) && $thread->getVotes() === 0) ? 'no' : $thread->getVotes();
											?></div>
											<div class="cma-thread-numbers-caption cma-thread-votes-caption"><?php
												echo CMA_Labels::n('vote', 'votes', $thread->getVotes());
											?></div>
										</div>
									<?php endif; ?>
									
									<?php if( $displayOptions['answers'] ): ?>
										<div class="cma-thread-numbers cma-thread-answers<?php if( $numberOfAnswers == 0 || $numberOfAnswers == 'no' ): ?> cma-thread-no-answers<?php endif; ?>">
											<div class="cma-thread-numbers-count cma-thread-answers-count"><?php
												echo $numberOfAnswers;
											?></div>
											<div class="cma-thread-numbers-caption cma-thread-answers-caption"><?php
												echo CMA_Labels::n(strtolower(CMA_Labels::getLabel('Answer')), strtolower(CMA_Labels::getLabel('Answers')), $thread->getNumberOfAnswers());
											?></div>
										</div>
									<?php endif; ?>
									
									<?php if( $displayOptions['views'] ): ?>
										<div class="cma-thread-numbers cma-thread-views">
											<div class="cma-thread-numbers-count cma-thread-views-count"><?php
												echo (CMA_Settings::getOption(CMA_Settings::OPTION_VOTES_NO) && $thread->getViews() === 0) ? 'no' : $thread->getViews();
											?></div>
											<div class="cma-thread-numbers-caption cma-thread-views-caption"><?php
												echo CMA_Labels::n('view', 'views', $thread->getViews());
											?></div>
										</div>
									<?php endif; ?>
				
									<?php if( !empty($displayOptions['statusinfo']) ): ?>
										<div class="cma-thread-numbers cma-thread-answers">
											<div class="cma-thread-numbers-count cma-thread-answers-count">
												&nbsp;
											</div>
											<div class="cma-thread-numbers-caption cma-thread-answers-caption"><?php
												echo esc_html($thread->getStatus());
											?></div>
										</div>
									<?php endif; ?>
							
								</div>
							</td>
						<?php endif; ?>
	
						<td class="cma-thread-summary">
	
							<div class="cma-thread-title">
								<?php if (!empty($displayOptions['showid'])): ?>
									<span class="cma-thread-ref-id"><?php echo $thread->getId(); ?></span>
								<?php endif; ?>
								<a href="<?php echo esc_attr($thread->getPermalinkWithBacklink($questionLinkQuery));
									?>" title="<?php echo esc_attr($thread->getContent(100, true)); ?>"><?php
								if( $thread->isResolved() ) {
						        	echo '<span class="resolved">[' . CMA_Labels::getLocalized('RESOLVED') . '] </span>';
						        }
								echo esc_html($thread->getTitle(false)); ?></a>
							</div>
	
							<div class="cma-thread-summary-right">
								<?php if( !empty($displayOptions['authorinfo']) ): ?>
									<div class="cma-thread-updated">
										<?php printf(CMA_Labels::getLocalized('asked_on_by'),
											CMA_Thread::renderDaysAgo($thread->getUnixDate(), false),
											$thread->getAuthorLink()); ?>
									</div>
								<?php endif; ?>
								
								<?php if( !empty($displayOptions['dateposted']) ): ?>
									<div class="cma-thread-updated">
										<?php printf(CMA_Labels::getLocalized('asked_on'),
											CMA_Thread::renderDaysAgo($thread->getUnixDate(), false)
										); ?>
									</div>
								<?php endif; ?>
	
								<?php if( !empty($displayOptions['updated']) AND $lastComment = $thread->getLastComment()): ?>
									<div class="cma-thread-updated">
										<?php printf(CMA_Labels::getLocalized('update_on_by'),
											CMA_Thread::renderDaysAgo(date_i18n('U', strtotime($lastComment->getDate())), false),
											CMA_Thread::getUser($lastComment->getAuthorId(), $lastComment)->richLink); ?>
									</div>
								<?php endif; ?>
	
								<?php if( $displayOptions['categories'] && $threadCategory = $thread->getCategory()): ?>
									<div class="cma-thread-category">
										<span><?php echo CMA::__('Category'); ?>:</span>
										<?php if (CMA_Settings::getOption(CMA_Settings::OPTION_CATEGORY_FILTER_MODE) == CMA_Settings::CATEGORY_FILTER_MODE_TWO_LEVEL) {
											if ($parentCategory = $thread->getParentCategory()) {
												echo $parentCategory->getLink() . ' &raquo; ';
											}
										} ?>
										<?php echo $threadCategory->getLink(); ?>
									</div>
								<?php endif; ?>
								
								<?php $usersFavoriteNumber = count($thread->getUsersFavorite());
								if (CMA_Settings::getOption(CMA_Settings::OPTION_ENABLE_MARK_FAVORITE_QUESTIONS) AND $usersFavoriteNumber > 0): ?>
									<div class="cma-thread-users-favorite" title="<?php
										echo esc_attr(sprintf(CMA_Labels::getLocalized('favorite_for_users'), $usersFavoriteNumber));
										?>">&hearts; <?php echo $usersFavoriteNumber; ?></div>
								<?php endif; ?>
							</div>
	
							<?php if( $displayOptions['tags'] ) echo CMA_Thread::getTags($thread->getId()); ?>
						</td>
					</tr>
				<?php endforeach; ?>
				</tbody>
			</table>
			
			<?php do_action('CMA_questions_table_after'); ?>
		
		<?php else: ?>
		
			<p class="c"><?php echo CMA_Labels::getLocalized('no_questions_found'); ?>
		<?php endif; ?>
		
		<?php if( $displayOptions['pagination'] ):
			echo CMA_AnswerController::showPagination($paginationArguments, $paginationBase);
		endif; // pagination ?>
		
	<?php endif; // !hidequestions ?>
	
	<script type="text/javascript">
		jQuery(function($) {
			CMA_private_question_init($);
		});
	</script>

	<?php if (!empty($category) AND CMA_Category::canBeFollower()): ?>
		<p><a href="<?php echo esc_attr($category->getPermalink()); ?>" class="cma-follow-link" data-nonce="<?php
					echo esc_attr(wp_create_nonce('cma_follow')); ?>" data-category-id="<?php echo $category->getId() ?>"><?php
			echo CMA_Labels::getLocalized($category->getFollowersEngine()->isFollower() ? 'unfollow_category' : 'follow_category'); ?></a></p>
	<?php endif; ?>

	<?php if( $displayOptions['form'] AND !$displayOptions['formontop'] ) :
		 // CMA-QuestionForm
		 // - Question form if the user is logged in
		 // - Login form if the user is not logged in
		echo CMA_BaseController::_loadView('answer/widget/question-form', compact('post', 'thread', 'catId'));
	endif; ?>
</div>
</div>