/************************** BASIC FORMAT OF RESPONSIVE CSS LIKE BOOTSTRAP **************************/


* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}


.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	position:relative;
	min-height:1px;
	padding-right:15px;
	padding-left:15px
}
.pull-right {
	float:right!important
}
.pull-left {
	float:left!important
}
.row:after, .row:before {
	display:table;
	content:" "
}
.row:after {
	clear:both
}

/********************** SMALL SCREEN GRID START HERE **************************/

@media (max-width:767px) {
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	float:left
}
.col-xs-12 {
	width:100%
}
.col-xs-11 {
	width:91.66666667%
}
.col-xs-10 {
	width:83.33333333%
}
.col-xs-9 {
	width:75%
}
.col-xs-8 {
	width:66.66666667%
}
.col-xs-7 {
	width:58.33333333%
}
.col-xs-6 {
	width:50%
}
.col-xs-5 {
	width:41.66666667%
}
.col-xs-4 {
	width:33.33333333%
}
.col-xs-3 {
	width:25%
}
.col-xs-2 {
	width:16.66666667%
}
.col-xs-1 {
	width:8.33333333%
}
.image-grid figure{
		margin-bottom:20px;
}

.journey-block-slider .owl-controls .owl-prev{
    float:left;
}  
.journey-block-slider .owl-controls .owl-next{
    float:right;
}
.journey-block-slider .owl-theme .owl-controls .owl-nav [class^="icon-"], .journey-block-slider .owl-theme .owl-controls .owl-nav [class*=" icon-"] {
    color:#000;
}
.footer-bottom .links ul{
	display:inline-block;
}
.footer-bottom .links ul li {
	float: left;
    padding: 0 20px;
    width: 50%;
}
.heading-block span{
	font-size:22px;
	line-height:30px;
}
.float-right {
	float:none;
}
.full-image-area .full-image{
	max-height:250px;
	overflow:hidden;
}
.site .home-result-block h3, .site .result-block ul li h3, .site .graph-box .graph-percent h1 {
	font-size:70px;
}
.site .row-block {
	padding:40px 0;
}
.site .row-block .row-block{
	padding:40px 0 0 0px;
}
p img.alignright, p img.alignleft{
	width:100%;
}
}

/********************** TABLET SCREEN GRID START HERE **************************/

@media (min-width:768px) {
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
float:left
}
.col-sm-12 {
width:100%
}
.col-sm-11 {
width:91.66666667%
}
.col-sm-10 {
width:83.33333333%
}
.col-sm-9 {
width:75%
}
.col-sm-8 {
width:66.66666667%
}
.col-sm-7 {
width:58.33333333%
}
.col-sm-6 {
width:50%
}
.col-sm-5 {
width:41.66666667%
}
.col-sm-4 {
width:33.33333333%
}
.col-sm-3 {
width:25%
}
.col-sm-2 {
width:16.66666667%
}
.col-sm-1 {
width:8.33333333%
}
.float-right {
	float:right;
}

.home-banner .image-holder img{
	width:100%;
}
.journey-block-slider .blank .image-holder img{
    opacity: 0;
}
.journey-block-slider .blank .timeline{
    border-bottom:solid 2px #dfe3e5;
}
.journey-block-slider .owl-controls {            
    left: 0;
    margin-top: 10px;
    position: absolute;
    text-align: center;
    top: 5%;
    width:100%;
    text-align:left;
}
.journey-block-slider .owl-controls .owl-prev{
    float:left;
}  
.journey-block-slider .owl-controls .owl-next{
    float:right;
}
.journey-block-slider .owl-theme .owl-controls .owl-nav [class^="icon-"], .journey-block-slider .owl-theme .owl-controls .owl-nav [class*=" icon-"] {
    color:#fff;
}
.heading-block span {	
	font-size:24px;
	line-height:36px;
}
}


/********************** MEDIUM SCREEN GRID START HERE **************************/

@media (min-width:992px) {
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
float:left
}
.col-md-12 {
width:100%
}
.col-md-11 {
width:91.66666667%
}
.col-md-10 {
width:83.33333333%
}
.col-md-9 {
width:75%
}
.col-md-8 {
width:66.66666667%
}
.col-md-7 {
width:58.33333333%
}
.col-md-6 {
width:50%
}
.col-md-5 {
width:41.66666667%
}
.col-md-4 {
width:33.33333333%
}
.col-md-3 {
width:25%
}
.col-md-2 {
width:16.66666667%
}
.col-md-1 {
width:8.33333333%
}
/*.col-md-6{
	padding-right:30px !important;
}
.col-md-6 + .col-md-6{
	padding-right:15px;
	padding-left:30px !important;
}*/
.row .col-md-6{
	padding-right:30px;
}
.row .col-md-6 + .col-md-6{
	padding-right:15px;
	padding-left:30px;
}
.video-content{
	padding-left:50px !important;
}
.no-padding-left{
	padding-left:0px;
}
.no-padding-right{
	padding-right:0px;
}

#main .container2{
	margin: 0 auto;
    max-width: 70.625%;
    width: 100%;
}
.journey-block-slider .owl-controls {            
    left: 0;
    margin-top: 10px;
    position: absolute;
    text-align: center;
    top: 10%;
    width:100%;
    text-align:left;
}

}

/********************** LARGE SCREEN GRID START HERE **************************/

@media (min-width:1200px) {
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
float:left
}
.col-lg-12 {
width:100%
}
.col-lg-11 {
width:91.66666667%
}
.col-lg-10 {
width:83.33333333%
}
.col-lg-9 {
width:75%
}
.col-lg-8 {
width:66.66666667%
}
.col-lg-7 {
width:58.33333333%
}
.col-lg-6 {
width:50%
}
.col-lg-5 {
width:41.66666667%
}
.col-lg-4 {
width:33.33333333%
}
.col-lg-3 {
width:25%
}
.col-lg-2 {
width:16.66666667%
}
.col-lg-1 {
width:8.33333333%
}
}
@media (min-width: 1025px) {
       
	.menu-toggle {
		display: none;
	}
	.header1 div{
		opacity:0			
	}
	.header2{
		position:fixed;
		top:0;
		right:0;
		left:0;
		z-index:999999;
		background-color:#fff;
		transition: all 0.5s ease-in-out 0s;			
	}
	.header2 div{
		transition: all 0.5s ease-in-out 0s;
		opacity:1;
	}
	.header2 div.sub-menu-wrapper{
		transition: all 0s ease-in-out 0s;
	}
        .blank-header{
            height:150px;
            border:solid 1px red;            
            width:100%;
        }
}


/************** PARALLAX CSS **********************/

/*.parallax {
	background-repeat:no-repeat;
    padding: 200px 0;
	margin:60px 0px;
	color:#fff;
	float:left;
	width:100%;
}*/
/**************** PARALLAX ********************/
.parallax .result-block span {
    font-size:inherit;
    text-transform:none;
}


.parallax{
	width:100%;
	float:left;
	margin:0px 0px;
    max-width: 1920px;
	position: relative;
	background-size:100% auto;
	padding:200px 0px;
	background-repeat:no-repeat;
	background-attachment:fixed;
}
.parallax h1.title{
	font-size:70px;
	margin:0px 0px;
	line-height:72px;
	text-transform:uppercase;
	font-weight:200;
	color:#fff;
}
.parallax button, .parallax .button{
	padding: 15px 25px;
	min-width:160px;
	font-size:18px;
}

.parallax .pull-right{
	max-width:510px;
	text-align:center;
	padding:0px 15px;
	color:#fff;
}
.parallax span{
	font-size:24px;
	text-transform:uppercase;
}
.parallax span.dash:before, .parallax span.dash:after{
	content:'ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â';
	width:20px;
}
.parallax span.dash:before{
	margin-right:10px;
}
.parallax span.dash:after{
	margin-left:10px;
}
/**************** PARALLAX IMAGE ********************/
#parallax-1 { 
	background: url(../images/growth-drivers.jpg) 50% 0 no-repeat;
	/*background-attachment:fixed;
	padding:150px 0px 0px 0px;	*/
}
#parallax-2 { 
	background: url(../images/opportunity-banner.jpg) 50% 0 no-repeat;
	/*padding:150px 0px 0px 0px;	*/
}
#parallax-3 { 
	background: url(../images/helene-nasr.jpg) 50% 0 no-repeat;
		
}
#parallax-1 .banner-text, #parallax-2 .banner-text{	
	padding:0px 0px 0px 0px;
	max-width:800px;
}

@media (max-width: 1920px){
	#main .parallax {
		/*padding:300px 0px;*/
		background-size:100% auto;
	}
	.home-banner .banner-text a{
		margin-top:50px;
	}
        .image-grid [class^="col-"]{
            margin-bottom:30px;
        }
	.image-grid .row .col-md-6{
		padding:10px;
		position:inherit;
	}
	.image-grid figure img {
		display: block;
		max-width: 100%;
		position: relative;
		width: 100%;
	}
	.image-grid figure.effect-sadie h4 {
		margin:0px;
		color: hsl(0, 0%, 100%);
		font-size: 14px;
		font-weight: 600;
		left: 0;
		padding: 0;
		position: absolute;
		text-align: center;
		text-transform: uppercase;
		top: 47%;
		transition: all 0.5s ease-in-out 0s;
		width: 100%;
	}
	.image-grid figure.effect-sadie p.homepage {
		top: 45%;
		left: 0;
		line-height: 20px;
		opacity: 0;
		padding: 0 20px;
		position: absolute;
		transform: translate3d(0px, 10px, 0px);
		width: 100%;
		font-size:14px;
	}
	.image-grid figure {
		background: hsl(196, 55%, 41%) none repeat scroll 0 0;
		cursor: pointer;
		float: left;
		/*margin: 0;*/
		overflow: hidden;
		position: relative;
		text-align: left;
		width: 100%;
	}
	.image-grid figure.effect-sadie figcaption:before{
		background: rgba(169, 203, 31, 0.8);
		content: "";
		height: 100%;
		left: 0;
		opacity: 0;
		position: absolute;
		top: 0;
		transform: translate3d(0px, 50%, 0px);
		width: 100%;
		transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
	}
	.image-grid figure, .image-grid figcaption {
		border-radius: 3px;
		overflow: hidden;
	}
	
	.image-grid figure.effect-sadie:hover figcaption:before, 
	.image-grid figure.effect-sadie.hover figcaption:before, 
	.image-grid figure.effect-sadie:hover p, figure.effect-sadie.hover p {
		color: hsl(0, 0%, 100%);
		opacity: 1;
		transform: translate3d(0px, 0px, 0px);
		transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
	}
	.image-grid figure.effect-sadie:hover h4,
	.image-grid figure.effect-sadie.hover h4 {
                top: 30%;
		color: hsl(0, 0%, 100%);
		transform: translate3d(0px, 0%, 0px);
                transition: all 0.5s ease-in-out 0s;
	}
	
	.image-grid figure.effect-sadie:hover p.homepage,
	.image-grid figure.effect-sadie.hover p.homepage {
		color: hsl(0, 0%, 100%);
		line-height: 1rem;
		opacity: 1;
		transform: translate3d(0px, 0px, 0px);
	}
	figure.square-border{
            border-radius: 0px;
            height: 340px;
            border:1px solid #e4eaec;
            text-align: center;
            width: 340px;
            margin: 0 auto;
            overflow: hidden;
            padding:5px;
        }        
}

@media (max-width: 1280px) {	
	#main .parallax {
		padding:200px 0px;
		/*background-size:160% auto;*/
	}
	.home-banner, .home-banner .image-holder{
		width:100%;
		position:relative;
		height:600px;
		overflow:hidden;
	}
	
	.home-banner .image-holder img{
		width:150%;
		max-width:inherit;
		margin-left:-30%;
	}
	figure.square-border{           
		height: 300px;
		width: 300px;
	}
}

@media (max-width: 991px) {
	#main .parallax {
		padding:100px 0px;
		/*background-size:270% auto;*/
	}
	.gba-helps-block span{
		display:block;
		margin-bottom:40px;
	}
	.image-grid figure.effect-sadie p.homepage {		
		padding: 0 20px;		
	}
	.image-grid figure.effect-sadie:hover p.homepage,
	.image-grid figure.effect-sadie.hover p.homepage {
		color: hsl(0, 0%, 100%);
		line-height: 1rem;
		opacity: 1;
		transform: translate3d(0px, 0px, 0px);
	}
        .contact-us .col-md-8, .contact-us .col-md-4{
            float:left;
            width:100%;
        }
        .contact-us input.wpcf7-submit[type="submit"]{
            right:50px;
        }
        
}
@media (max-device-width: 767px) and (orientation: portrait) {
	.home-banner, .home-banner .image-holder{
		width:100%;
		position:relative;
		height:400px;
		overflow:hidden;
	}
	.home-banner2, .home-banner2 .image-holder{
		width:100%;
		position:relative;
		height:500px;
		overflow:hidden;
	}	
	.home-banner .image-holder img{
		width:240%;
		max-width:inherit;
	}	
	#main .parallax {
		padding:50px 0px;
		background-size:200% auto;		
		font-size:100%;
	}
	.parallax h1.title {
		font-size: 50px;
		line-height: 62px;
	}
	.slider-wrapper .graph-box .graph-percent, .slider-wrapper .graph-box .graph-chart{
		width:100%;
		text-align:center;
	}
	.slider-wrapper .owl-theme .graph-chart > p {
		margin: 0px 0 0;
	}
	#video-container .mejs-overlay-loading {		
		left: 31%;
		margin: -40px 0 0;
	}
        .journey-block-slider .owl-controls {            
            left: 0;
            margin-top: 10px;
            position: absolute;
            text-align: center;
            top: 12%;
            width:100%;
            text-align:left;
            padding:0px 30px
        }
	
}
@media (max-device-width: 414px) and (orientation: portrait) {
	.home-banner, .home-banner .image-holder{
		width:100%;
		position:relative;
		height:350px;
		overflow:hidden;
	}
	.home-banner .banner-text h1.title{
		line-height:1;
		font-size:30px;
	}
	.home-banner .banner-text a{
		margin-top:10px;
	}
	.home-banner .image-holder img{
		width:280%;
		max-width:inherit;
		margin-left:-40%;
	}
	.home-banner2, .home-banner2 .image-holder{
		width:100%;
		position:relative;
		height:700px;
		overflow:hidden;
	}
	.home-banner2 .image-holder img{
		width:460%;
		max-width:inherit;
		margin-left:-80%;
	}
	#main .parallax {
		padding:50px 0px;
		background-size:200% auto;		
		font-size:100%;
	}
	.image-grid figure.effect-sadie p.homepage {
		padding: 0 10px;
	}
	.image-grid figure.effect-sadie:hover p.homepage,
	.image-grid figure.effect-sadie.hover p.homepage {
		color: hsl(0, 0%, 100%);
		line-height: 1rem;
		opacity: 1;
		transform: translate3d(0px, 20px, 0px);
	}
	#video-container .mejs-overlay-loading {		
		left: 24%;
		margin: -40px 0 0;
	}
        #iwm_map_canvas ul img{
           width:100px;
        }
}
@media (max-device-width: 320px) and (orientation: portrait) {
	#main .parallax {
		padding:50px 0px;				
		font-size:100%;
	}
	#video-container .mejs-overlay-loading {		
		left: 18%;
		margin: -40px 0 0;
	}
	.journey-block-slider .owl-controls {
		top:8%;
	}
	figure.square-border{
		height: 230px;
		width: 230px;
	}
	/*.home-banner.home-banner2 .banner-text a{
		width:40%;
	}*/
}	
@media (max-device-width: 736px) and (orientation: landscape) {
	.home-banner .banner-text a{
		margin-top:10px;
	}
	#main .parallax {
		padding:80px 0px;
		background-size:110% auto;		
		font-size:100%;
	}
	.journey-block-slider .owl-controls {
		left: 0;
		margin-top: 10px;
		position: absolute;
		text-align: center;
		top: 20%;
		width:100%;
		text-align:left;
		padding:0px 30px;
	}	
	
	.home-banner, .home-banner .image-holder{
		width:100%;
		position:relative;
		height:500px;
		overflow:hidden;
	}
	.home-banner2, .home-banner2 .image-holder{
		width:100%;
		position:relative;
		height:600px;
		overflow:hidden;
	}
	.home-banner2 .image-holder img{
		width:265%;
		max-width:inherit;
		margin-left:-100%;
	}
}
@media (max-device-width: 640px) and (orientation: landscape) {
	.home-banner, .home-banner .image-holder{
		width:100%;
		position:relative;
		height:340px;
		overflow:hidden;
	}
	.home-banner2, .home-banner2 .image-holder{
		width:100%;
		position:relative;
		height:600px;
		overflow:hidden;
	}

}
/*@media (max-width: 767px) {
  .parallax {
		padding:50px 0px;
		background-size:300% auto !important;
		border:solid 1px red;
		font-size:100%;
	}


}	*/
