/*----| Fonts |----*/
@import "http://fonts.googleapis.com/css?family=Oswald:400,700,300";

/*----| Wrapper |----*/
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Oswald",sans-serif;
    font-size: 24px;
}
.wrapper {
    height: 100%;
    width: 100%;
}
.container {
    margin: 0 auto;
    width: 86%;
}
.sm-container {
    margin: 0 auto;
    width: 900px;
}

/*----| Global Classes |----*/
.text-center {
    text-align: center;
}
.text-uppercase {
    text-transform: uppercase;
}
a {
    text-decoration: none;
}
a.read-more {
    background: rgba(0, 0, 0, 0) url("http://104.130.31.87/wp-content/themes/twentythirteen/images/read-icon.png") no-repeat scroll 13px 9px;
    border: 1px solid #fff;
    border-radius: 25px;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
    margin-top: 15px;
    padding: 11px 28px 11px 72px;
}
a.read-more:hover {
    opacity: 0.7;
}

li{
	display: inline-block;
	list-style: none;
}

/*----| header |------*/
.header {
    background:url("http://104.130.31.87/wp-content/themes/twentythirteen/images/globe.png") no-repeat center 185px;
    background-size: 86% auto;
    padding-bottom: 759px;
    position: relative;
}
.header-content {
    background: rgba(170, 191, 72, 0.95);
    bottom: 0;
    color: #fff;
    left: 0;
    padding: 35px 0 40px;
    position: absolute;
    width: 100%;
}
.header-content p {
    font-weight: 300;
}

/*----| Vital statisc|-----*/
.vital {
    padding: 40px 0 50px;
}
.vital ul li {
    background: url("http://104.130.31.87/wp-content/themes/twentythirteen/images/disc.png") no-repeat right center;
    color: #a9cb1f;
    font-size: 150px;
    line-height: 1;
    font-weight: 300;
    padding:10px 6.5% 10px 5.5%;
}
.vital ul li:last-child {
    background:none;
}

/*----| Featured Story |----*/
.featured{
	background: url("http://104.130.31.87/wp-content/themes/twentythirteen/images/feature_banner.jpg") no-repeat center -242px / 100% auto;
    padding: 0 0 685px;
    position: relative;
}
.feature-content{
	background: rgba(2, 72, 150, 0.95); 
	bottom: 0;
    color: #fff;
    left: 0;
    padding: 32px 0;
    position: absolute;
    width: 100%;
}
.feature-content p{
	font-weight: 300;
}

/*---| Content column |-----*/
.content-column{
	padding: 100px 0;
}

.content-column ul{
	display: flex;
}
.content-column ul li{
	width: 33%;
	margin:0 2px;
}
.content-column ul li img{
	width: 100%;
	display: block;
	padding: 0 0 20px;
}
.content-column ul li  p{
	color: #919399;
	font-size: 18px;
	font-weight: 300;
	padding: 20px 0;
}
.content-column ul li a{
	font-size: 18px;
	color:#8acb37;
}


/*----| Resource |------*/
.resource{
	background: url("http://104.130.31.87/wp-content/themes/twentythirteen/images/resource_banner.jpg") no-repeat center -242px / 100% auto;
	padding: 0 0 205px;
    position: relative;
}
.resource a.read-more{
	background-color: #fd7d0b;
}
.resource-content{
	background: #fd7d0b;
	bottom: 0;
    color: #fff;
    left: 0;
    padding: 25px 0 15px;
    position: absolute;
    width: 100%;
}

/*----| Sponsors |-----*/
.sponsor{
	padding: 70px 0 30px;
}
.sponsor ul{
	padding: 40px 0;
}
.sponsor ul li{
	padding: 0 2.8% 30px;
	vertical-align: middle;	
}

/*----| Footer |-----*/
.footer {
    background: #024696;
    color: #fff;
    padding: 30px 0 45px;
}
.footer ul.links {
    padding: 0 0 30px;
}
.footer ul.links li {
    background:url("http://104.130.31.87/wp-content/themes/twentythirteen/images/divider.png") no-repeat right 18px;
    padding: 0 3.8% 0 3.5%;
}
.footer ul.links li:last-child {
    background: none;
}
.footer ul.links li a {
	border-bottom: 1px solid transparent;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 2px;
}
.footer ul.links li a:hover{
	border-bottom: 1px solid #fff;
}
.footer p {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
}
.footer ul.social {
    padding: 30px 0 0;
}
.footer ul.social li {
    padding: 0 5px;
}
.footer ul.social li a {
    background:url("http://104.130.31.87/wp-content/themes/twentythirteen/images/social-icon.png") no-repeat;
    display: block;
    height: 18px;
    width: 20px;
}
.footer ul.social li a.facebook {
    background-position: 0 0;
}
.footer ul.social li a.twitter {
    background-position: -25px 0;
}
.footer ul.social li a.google {
    background-position: -51px 0;
}
.footer ul.social li a.linkedin {
    background-position: -77px 0;
}
.footer ul.social li a.utube {
    background-position: -103px 0;
}
.footer ul.social li a:hover {
    opacity: 0.7;
}

/*----| headings |-----*/
h1 {
    color: #0084c9;
    font-size: 103px;
    letter-spacing: 5px;
    padding: 25px 0 0;
}

.featured h1{
	color:#fff;
}

.resource h1{
	color: #333;
    padding-bottom: 250px;
}

h2 {
    font-size: 30px;
    letter-spacing: 3px;
    padding-bottom:10px;
}
.vital h2, .sponsor  h2 {
    color: #2c3a69;
}
.vital h2 span, .sponsor  h2 span {
    color: #a5bc3e;
    padding-left: 7px;
}

h3{
	color:#505359;
	font-size: 24px;
	font-weight: 400;
}

