/*--------------| Responsive Layout |------------------*/

/*-----| 1200 px |-----*/
@media screen and (max-width: 1200px){
body{
	font-size: 18px;
}
.container{width: 92%;}
.header {
	background-position:center 160px;
    padding-bottom: 730px;
}
.header-content {
    padding: 25px 0 30px;
}
.vital{
	padding: 30px 0;
}
.vital ul li{
	font-size: 120px;
}
.featured {
    background-position:center -215px;
    padding: 0 0 330px;
}
.content-column{
	padding: 50px 0;
}
.content-column ul li p{
	font-size: 16px;
}
.resource {
    background-position:center -102px;
    padding: 0 0 135px;
}
.sponsor {
    padding: 40px 0 0;
}
.footer {
    padding: 20px 0 30px;
}
h1{
	font-size: 80px;
	padding: 20px 0 0;
}
.resource h1 {
    padding-bottom: 100px;
}
h2{
	font-size: 25px;
}	
h3{
	font-size: 20px;
}
}

/*-----| 1024 px |-----*/
@media screen and (max-width: 1024px){
body{
	font-size: 16px;
}

.container{width: 92%;}
.sm-container{width: 90%;}
.header {
	background-position:center 130px;
    padding-bottom: 500px;
}
.header-content, .feature-content {
    padding: 15px 0 20px;
}
.vital{
	padding: 30px 0;
}
.vital ul li{
	font-size: 120px;
}
.featured {
    background-position:center -90px;
    padding: 0 0 330px;
}
.content-column{
	padding: 20px 0;
}
.content-column ul li p{
	font-size: 16px;
}
.resource {
    background-position: center -83px;
    padding: 0 0 115px;
}
.resource-content{
	padding:15px 0 10px;
}
.sponsor {
    padding: 20px 0 0;
}

.sponsor ul{
	padding:20px 0 0;
}

.sponsor ul li{
	padding: 0 2.8% 15px;
}
.footer {
    padding: 20px 0 30px;
}

.footer ul.links li {
    background-position:right 7px;
    padding: 0 2.8% 0 2.5%;
}

.footer ul.links{
	padding: 0 0 20px;
}

h1{
	font-size: 60px;
	padding: 15px 0 0;
}
.resource h1 {
    padding-bottom: 80px;
}
h2{
	font-size: 22px;
	padding-bottom: 8px;
}	
h3{
	font-size: 16px;
}
}

/*-----| 768 px |-----*/
@media screen and (max-width: 768px){
body{
	font-size: 15px;
}
a.read-more {
    background-size: 28px auto;
    background-position:13px 8px;
    font-size: 13px;
    margin-top: 5px;
    padding: 6px 15px 8px 49px;
}

.header {
    background-position: center 69px;
    padding-bottom: 350px;
}
.header-content, .feature-content, .vital, .content-column, .resource-content, .footer{
	padding: 10px 0;
}
.vital ul li {
    font-size: 60px;
}
.featured {
    background-position: center -49px;
    padding: 0 0 280px;
}

.resource {
    background-position: center -74px;
    padding: 0 0 77px;
}
.sponsor{
	padding: 10px 0 0;
}

.footer ul.social{
    padding: 15px 0 0;
}

h1 {
    font-size: 40px;
    padding: 0;
}
.resource h1 {
    padding-bottom: 40px;
}
h2 {
    font-size: 18px;
    padding-bottom: 5px;
}
}


/*-----| 480 px |-----*/
@media screen and (max-width: 480px){
body{font-size: 13px;}
.header {
    background-position: center 49px;
    padding-bottom: 320px;
}
.header-content, .feature-content {
    padding: 5px 0 10px;
}

.vital ul li {
    background-size: 12px auto;
    font-size: 50px;
    padding: 5px 23px 5px 11px;
}
.featured {
    background-position: center -6px;
    padding: 0 0 259px;
}
.resource {
    background-position: center -25px;
    padding: 0 0 52px;
}
.resource-content {
    padding: 5px 0 0;
}
.sponsor ul li {
    display: block;
    padding: 0 0 10px;
}

h1 {
    font-size: 29px;
    letter-spacing: 1px;
}
.resource h1 {
    padding-bottom: 20px;
}
h2 {
    font-size: 16px;
    letter-spacing: 1px;
    padding-bottom: 3px;
}
h3 {
    font-size: 15px;
}
.content-column ul li p, .content-column ul li a {
    font-size: 13px;
}
}