.ei-slider{
	position: relative;
	width: 100%;
	max-width: 1920px;
	height: 600px;
	margin: 0 auto;
	max-width:1080px !important;
	/*border:solid 1px red;*/
}
.ei-slider-loading{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index:999;
	background: rgba(0,0,0,0.9);
	color: #fff;
	text-align: center;
	line-height: 400px;
}
.ei-slider-large{
	height: 450px;
	width: 100%;	
	position:relative;
	overflow: hidden;
	/*border:solid 1px black;*/
}
.ei-slider-large li > img{
	display:none;
}
.ei-slider-large li{
	position: absolute;
	top: 30px;
	left: 0px;
	overflow: hidden;
	height: 100%;
	width: 100%;
	/*Border:solid 1px red;*/
}
.ei-slider-large li p{
	color:#95a5b2;
}
.ei-slider-large li.large-active{
	background-color:#fff;
}

.ei-slider-large li img{
	width: 100%;
}
.ei-title{
	position: absolute;
	right: 50%;
	margin-right: 13%;
	top: 30%;
}
.ei-title h2, .ei-title h3{
	text-align: right;
}
.ei-title h2{
	font-size: 40px;
	line-height: 50px;
	font-family: 'Playfair Display', serif;
	font-style: italic;
	color: #b5b5b5;
}
.ei-title h3{
	font-size: 70px;
	line-height: 70px;
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	color: #000;
}
.ei-slider-thumbs{
	height: auto;
	margin: 0 auto;
	position: relative;
	max-width:1080px !important;
	border:solid 0px red;
	clear:both;	
}
.ei-slider-thumbs li{
	position: relative;
	float: left;
	height: 100%;
	border-bottom:solid 8px #e4eaec;
	min-height:150px;
}
#main .ei-slider-thumbs li.ei-slider-element:before{
	left:50%;
	top:-7px;
	width:14px;
	height:7px;
	content:'';
	position:absolute;
	background-image:url(../images/slider-arrow-up.png);
	background-position:center top;
	background-repeat:no-repeat;
	display:block;
	margin:0px 0px 0px -7px;
}
.ei-slider-thumbs li.ei-slider-element{
	top: 142px;
	left: 0px;
	position: absolute;
	height: 8px;
	min-height:8px;
	z-index: 10;
	text-indent: -9000px;
	background-color: #a9cb1f;
	/*background-image:url(../images/slider-arrow-up.png);
	background-position:center top;
	background-repeat:no-repeat;*/
	border:solid 0px #a9cb1f;
	/*background: rgba(0,0,0,0.9);*/
	
}
.slider-area .ei-slider-thumbs li a{
	position:absolute;
	display: block;
	text-align:center;
	font-size:14px;
	color:#2c3a69;
	width: 100%;
	height: 100%;
	cursor: pointer;
	transition: none;
	/*-moz-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
	text-indent: -9000px;
	background: #666 ;	
	-webkit-box-shadow: 
        0px 1px 1px 0px rgba(0,0,0,0.3), 
        0px 1px 0px 1px rgba(255,255,255,0.5);
	-moz-box-shadow: 
        0px 1px 1px 0px rgba(0,0,0,0.3), 
        0px 1px 0px 1px rgba(255,255,255,0.5);
	box-shadow: 
        0px 1px 1px 0px rgba(0,0,0,0.3), 
        0px 1px 0px 1px rgba(255,255,255,0.5);
	-webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
    -ms-transition: background 0.2s ease;
    transition: background 0.2s ease;*/
}
.slider-area .ei-slider-thumbs li a:hover, .slider-area .ei-slider-thumbs li.active a{
	color: #a9c64f;
	text-decoration:none;
	/*-moz-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;*/
}
.ei-slider-thumbs li span{
	border:solid 5px #e4eaec;
	width:70px;
	height:70px;
	border-radius:50%;
	padding:0px;
	margin:0px auto 10px auto;
        display:block;
	/*-moz-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;*/
}
.ei-slider-thumbs li span img + img{
	display:none;
}
.slider-area .ei-slider-thumbs li:hover span, .slider-area .ei-slider-thumbs li.active span{
	border-color:#d4e58f;
	/*-moz-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;*/
}
.ei-slider-thumbs li a span img{
	/*position: absolute;
	bottom: 0px;
	opacity: 1;
	z-index: 999;
	max-width: 100%;
	-webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
	-webkit-box-reflect: 
        below 0px -webkit-gradient(
            linear, 
            left top, 
            left bottom, 
            from(transparent), 
            color-stop(50%, transparent), 
            to(rgba(255,255,255,0.3))
            );
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";*/
	margin:10px auto;
}
.ei-slider-thumbs li:hover img, .slider-area .ei-slider-thumbs li.active img{
	display:none;
	opacity: 0;
}
.ei-slider-thumbs li:hover img + img, .slider-area .ei-slider-thumbs li.active img + img{
	display:block;
	opacity: 1;
}

#main .ei-slider .ei-slider-large li li:before{
	display:block;
}
#main .ei-slider li li{
    position:relative;
    margin-bottom: 15px;
    padding-left: 22px;
}
#main .ei-slider-large li > .row{
	background-color:#fff;
}

@media screen and (max-width: 830px) {
	.ei-title{
		position: absolute;
		right: 0px;
		margin-right: 0px;
		width: 100%;
		text-align: center;
		top: auto;
		bottom: 10px;
		background: #fff;
		background: rgba(255,255,255,0.9);
		padding: 5px 0;
	}
	.ei-title h2, .ei-title h3{
		text-align: center;
	}
	.ei-title h2{
		font-size: 20px;
		line-height: 24px;
	}
	.ei-title h3{
		font-size: 30px;
		line-height: 40px;
	}
}

/************** SLIDER ********************/

@media (max-width:991px) {	

	.ei-slider {
		height: 550px;
		margin: 0 auto;
		max-width: 1080px !important;
		overflow: hidden;
		position: relative;
		width: 98%;
	}
	.ei-slider-thumbs {		
		height: 100px;
	}
	#main .ei-slider-large {
		height: 500px;
		overflow:visible;
		position: relative;
		width: 100%;
	}
	#main .ei-slider .ei-slider-large > li{
		height:400px;
		overflow:scroll;
	}
}
@media (max-width:414px) {	

	.ei-slider {
		height: 400px;
		margin: 0 auto;
		max-width: 1080px !important;
		overflow: hidden;
		position: relative;
		width: 95%;
		
	}
	.ei-slider-thumbs {		
		height: 100px;
	}
	#main .ei-slider .ei-slider-large {
		height: 300px;
		overflow:visible;
		position: relative;
		width: 100%;
		display:inline-block;
	}
	#main .ei-slider .ei-slider-large > li{
		height:250px;
		overflow:auto;
		padding:10px 0px;
		
	}
	#main .ei-slider .ei-slider-large ul{
		display:inline-block;
		margin:0px;
	}
	#main .ei-slider .ei-slider-large li{
		top:0px;
	}
	#main .ei-slider .ei-slider-large li h2{
		margin-top:0px;
	}
}