.login-submit input[type="submit"]{
    background: #fc5721;
    padding: 6px 40px;
    float: none
}
.login-submit input[type="submit"]:active{
	padding: 6px 40px;
}

.w3eden .media-body h3{margin: 0;font-size: 9pt;}
.w3eden .package-block h3 a, .w3eden .package-block h3 {
    display: block;
    font-size: 9pt;
    font-weight: 800;
    height: 18px;
    line-height: normal;
    margin: 0;
    overflow: hidden;
}
.w3eden .package-block .media-body {
    font-size: 9pt;
    font-weight: 300;
}
.w3eden .package-block .package-info {
    margin: 2px 0;
}
.w3eden .panel-footer {
    font-size: 9pt;
}
.cma-wrapper .cma-pagination ul.page-numbers{
    border:0px;
}
.w3eden .pagination li:before{
    display:none;
}
.w3eden .pagination > li > span.current{
    background-color: #428bca;
    border-color: #428bca;
    color: #fff;
    cursor: default;
    z-index: 2;
}
.cma-wrapper .cma-pagination .page-numbers, .container .cma-pagination .page-numbers {
    border-radius: 0;
}
.text-right{text-align: right}
.text-center{text-align: center}
.cma-form-container .cma-login-conatainer{display: block}
.package_thumb{width: 60px;height:50px }
.section-head {
    background: #f5f5f5 none repeat scroll 0 0;
    border-radius: 4px;
    font-size: 10pt;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: normal;
    margin-bottom: 20px;
    padding: 8px;
    text-transform: uppercase;
}
.section-head span {
    background: #333333 none repeat scroll 0 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    color: #ffffff;
    display: inline;
    margin-left: -8px;
    padding: 8px 15px;
}
.package-list .w3eden .panel-body {
    min-height: 80px;
    padding: 15px;
}
.w3eden .wpdm-downloads .panel-body {
    min-height: 80px;
    padding: 15px;
}
.w3eden .hentry{padding: 0}
.w3eden code{
    max-width: 100%;
    white-space: normal !important;
    color:#c7254e !important;
    background-color: #f9f2f4;
    border-radius: 4px;
    color: #c7254e;
    font-size: 90%;
    padding: 2px 4px;
    white-space: nowrap;
}
.w3eden #respond {
    margin-top: 20px;
    padding-top: 20px;
    background-color: #fff
}
#reply-title{
 font-style: normal   
}
#commentform p {
    margin-bottom: 5px;
}
.comment-form-author, .comment-form-email, .comment-form-url {
    clear: none !important;
    float: left;
    width: 33%;
}
#commentform p input[type="text"],#commentform p input[type="email"] ,#commentform p input[type="url"]{
    display: block;
    padding: 5px;
    width: 89%;
}
.w3eden button, .w3eden input, .w3eden textarea {
    border: 1px solid #95a5b2;
}
.w3eden input:focus, .w3eden textarea:focus {
    border: 1px solid #428bca;
    outline: 0 none;
}
.w3eden .entry-title{color: #a9cb1f}
.w3eden #commentform p label {
    color: #aaa;
    font-weight: bold;
    width: 200px;
    font-size: 10pt;
    padding: 0;
}
.w3eden #commentform .comment-form-comment{clear: both}
.w3eden #commentform .comment-form-comment label:after{content: '*';color: #ed331c;}
.w3eden .comment-notes{font-size: 10pt;color: #5a5a5a}
.w3eden #submit{float: left;min-width: 100px;}
.w3eden #submit:active{padding: 6px 12px;}
.margin-bottom-10{margin-bottom: 10px}
.form-allowed-tags {
    color: #aaa;
     line-height: 1.7;
}
/*package sidebar*/
.btn-info {
    background: #516087 none repeat scroll 0 0 !important;
}
.navg .btn {
    margin-top: 15px;
}
.w3eden .thumbnail{min-height: 90px;}
.panel > .w3eden > .thumbnail {
    margin: 5px 10px;
}
.w3eden .tagcloud{
    padding: 15px; 
    color: #222222 !important;
}
.w3eden .tagcloud a{
    padding: 10px 0;
    font-size: 14px !important;
    display: block;
    color: #428bca;
}
.w3eden .tagcloud a:not(:last-child){
    border-bottom: 1px solid #eeeeee;
    
}
.w3eden .media-body{font-size: 14px;}
.w3eden .thumbnail a{font-size: 14px;
    color: #428bca;
    text-decoration: none;
}
.w3eden .panel ul, .w3eden .panel li {
    list-style: outside none none;
    margin: 0;
}
.w3eden .panel ul {
    padding: 10px;
}
.w3eden .panel li {
    padding: 10px 0;
    padding-left: 0 !important;
    margin-bottom: 0 !important;
    font-size: 14px;
}
.w3eden .panel li a{color:#428bca}
.w3eden li:before{background-image: none!important}
.panel li:not(:last-child) {
    border-bottom: 1px solid #eeeeee;
    padding: 10px 0;
}
.wpdm-categories li{padding-left: 0!important}

/*date 10/6/15 */
.position-relative{position: relative}
.display-none{display:none}
.pop-up{
    background: #000 none repeat scroll 0 0;
    border-radius: 2px;
    color: #fff;
    position: absolute;
    top: 12%;
    width: 85%;
    text-align: left;
    padding: 5px}
.pop-up a.read-more{color: #ca3c08;}
li.hover-li:hover .pop-up{display: block}

//for approach page customer insight slider buttons

.owl-theme .owl-controls .owl-buttons div {
    padding: 5px 9px;
}
.owl-theme .owl-controls .owl-buttons div {
    position: absolute;
}

.slider-wrapper{
    background-color: #f5f5f5;
    padding: 0px 20px;
}
#cust-insights-left.owl-carousel .owl-wrapper-outer{
    width:90%;
    margin:20px auto 0px auto;
}
.slider-wrapper .owl-controls .owl-nav{
     position: absolute;
     top:40%;
     width:100%;
}
.slider-wrapper .owl-controls .owl-nav .owl-prev,.slider-wrapper .owl-controls .owl-nav .owl-prev:hover {
    left: -20px;
    top: 0px;   
    position: absolute;
    background: none;
}
.slider-wrapper .owl-controls .owl-nav .owl-next,.slider-wrapper .owl-controls .owl-nav .owl-next:hover {
    right: -20px;
    top: 0px;
    position: absolute;
    background: none;
}
.slider-wrapper .owl-controls .owl-nav [class*="owl-"], .slider-wrapper .owl-controls .owl-nav [class*="owl-"]:hover {
    color: #999;
}

.views-block .owl-carousel .owl-item figure img{
    display: inline-block;
    width: auto;
}

.post-pagination .wp-pagenavi{
    display:inline-block;
    
}
.post-pagination .wp-pagenavi a, .post-pagination .wp-pagenavi span.extend, .post-pagination .wp-pagenavi span.current{
    margin:0px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-right:0px;
    color: #428bca;
    float: left;
    line-height: 1.42857;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
    font-size:14px;
    transition: all 0.5s ease-in-out 0s;
}
.post-pagination .wp-pagenavi a:first-child{    
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.post-pagination .wp-pagenavi a:last-child{
    border-right:1px solid #ddd;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.post-pagination .wp-pagenavi a:hover{
    border-color: #ddd;
    background-color: #eee;
    transition: all 0.5s ease-in-out 0s;
}
.post-pagination .wp-pagenavi span.current{
   background-color: #428bca;
   color:#fff;
}
.summit-slider{
    background-color:#f5f5f5;
}
.summit-slider [class^="icon-"],
.summit-slider [class*=" icon-"]{
 font-size:40px;   
}
.summit-slider .slider-wrapper .owl-controls .owl-nav .owl-prev, .summit-slider .slider-wrapper .owl-controls .owl-nav .owl-prev:hover {
    left: -50px;
    top: 0px;   
    position: absolute;
    background: none;
}
.summit-slider .slider-wrapper .owl-controls .owl-nav .owl-next, .summit-slider .slider-wrapper .owl-controls .owl-nav .owl-next:hover {
    right: -50px;
    top: 0px;
    position: absolute;
    background: none;
}
#main .incorporate-icons{
    margin:0px;
    padding:0px;
    width:100%;
    text-align:center;
}
#main .incorporate-icons li:before{
    display:none;
}
#main .incorporate-icons li{
    display:inline-block;
}
.greenbar-menu li:before{
    display:none;
}
.greenbar-menu, #main .greenbar-menu li{
    display:inline-block;
    /*width:100%;*/
    text-align: center;
    margin: 0;
    padding: 0;
    text-transform: uppercase
}
.greenbar-menu li a{
    margin: 0;
    padding: 0 10px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}
/**********************/

#content .entry-header, #content .entry-content, #content .entry-summary, #content .entry-meta{
    margin: 0 auto;
    max-width:inherit;
    width: 95%;
}
#content .cma-thread-no-answers, .container .cma-thread-no-answers{
	background-color:#fc5721;
	border-color:#fc5721;
}
/*#content .entry-content a, #content .comment-content a{
	color:#ca3c08;
}*/

#main ul.cma-thread-orderby li{
	padding:2px 10px;
}
#content .cma-pagination ,.container .cma-pagination{
    border-radius: 4px;
    display:block;
    margin: 20px 0;
    padding-left: 0;
}
#content .cma-pagination a, #content .cma-pagination span, .container .cma-pagination a, .container .cma-pagination span{
	background-color: hsl(0, 0%, 100%);
	border: 1px solid hsl(0, 0%, 87%);
	color: hsl(208, 56%, 53%);
	font-size: 10pt;
	line-height: 1.42857;
	margin-left:-5px;
	padding: 6px 12px;
	position: relative;
	text-decoration: none;
}
#content .cma-pagination .page-numbers:first-child, .container .cma-pagination .page-numbers:first-child{
	border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
#content .cma-pagination .page-numbers:last-child, .container .cma-pagination .page-numbers:last-child{
	border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
#content .cma-pagination .page-numbers.current, #content .cma-pagination .page-numbers.current:hover, .container .cma-pagination .page-numbers.current, .container .cma-pagination .page-numbers.current:hover{
	color:#fff;
	background-color:#428bca;
}
#content .cma-pagination .page-numbers:hover,.container .cma-pagination .page-numbers:hover{
	background-color: #eee;
}
.wpdm-loading{
	margin:0px 0px 0px -50px;
	left:50%;
}

#loginform-container, #wppb-login-wrap{
	border:solid 1px #ccc;
	border-radius:5px;
	padding:50px;
	max-width:500px;
	margin:0px auto;
}
#main #wppb-recover-password ul li{
	padding:0px;
}
#main #wppb-recover-password ul li:before{
	display:none;
}
#main #content .entry-header h1, #main  #content .entry-content h1{
	font-weight:200;
}

@media (max-width:767px) {
	
	#loginform-container, #wppb-login-wrap{
		border:solid 1px #ccc;
		border-radius:5px;
		padding:20px;
	}
	#main #content .entry-header, #main  #content .entry-content{
		padding-left:0px;
		padding-right:0px;
	}
	#main #wppb-recover-password input[type="text"]{
		width:100%;
	}
	.greenbar-menu, #main .greenbar-menu{
		width:100%;
		display:inline-block;
	}
	#main .greenbar-menu li{
		padding:10px 0px;
		width:50%;
		float:left;
	}
	.greenbar-menu li a{
		padding:0px;
	}
}
.row-block.padding-top-0{padding-top: 0}
figure.news-square-border{
            border-radius: 0px;
            height: 140px;
            border:1px solid #e4eaec;
            text-align: center;
            width: 140px;
            margin: 0 auto;
            overflow: hidden;
            padding:5px;
        }
.cma-questions-widget li:before{
    display: none;
}
        
@media (max-width:992px) {
    .w3eden #srcp .row {
        margin-left: 0px;
        margin-right: 0px;
    }
}
ul li a.green-link{
    position: relative;
}
.ei-slider-large li ul li{
    overflow: visible;
}
.row ul li a span.statistic-info {
    position:absolute;
    top:-25px;
    font-size: 14px;
    background-color: #38487b;
    text-align: left;
    padding:5px 8px;
    z-index: 1;
    width:auto;
    white-space: pre;
    display:none;
    line-height: 20px;
    border-radius:3px;
    color:#fff;
    left:0;
}
.row ul li a.green-link:hover .statistic-info{
    display:block;
}